@model PetitesPuces.ViewModels.XmlDataViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Jeu d'essai</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="container mt-5 mb-5">
        <table class="table table-sm table-striped">
            <tr class="row">
                <th class="col-6">
                    @using (Html.BeginForm("Ajouter", "BD", FormMethod.Post))
                    {
                        <input type="submit" class="btn btn-block btn-success" value="Ajouter les données" disabled="@(!Model.enableAddButton)">
                    }
                </th>
                <th class="col-6">
                    @using (Html.BeginForm("Retirer", "BD", FormMethod.Post))
                    {
                        <input type="submit" class="btn btn-block btn-danger" value="Retirer les données" disabled="@(!Model.enableDeleteButton)">
                    }
                </th>
            </tr>
            <tr class="row mt-3 text-center">
                <td class="col-12 text-white bg-success">
                    @Html.DisplayTextFor(m => m.successMessage)
                </td>
            </tr>
            <tr class="row mt-3 text-center">
                <td class="col-12 text-dark bg-warning">
                    @Html.DisplayTextFor(m => m.errorMessage)
                </td>
            </tr>
            @{
                for (int i = 0; i < (Model.tabCount.Length) / 2; i++)
                {
                    <tr class="row">
                        <td class="col-6 text-right"> @Model.tabCount[i, 0] : </td>
                        <td class="col-6 text-left"><b>@Model.tabCount[i, 1]</b> enregistrement(s)</td>
                    </tr>
                }
            }
        </table>
        @Html.ActionLink("Retour à l'accueil", "AccueilGestionnaire", "Gestionnaire", new object {  }, new { @class = "btn btn-block btn-primary" })
    </div>
</body>
</html>
