@using PetitesPuces.Models
@model PPProduits
@{
   double dblPrixDemande = (double)Model.PrixDemande;
}
<div class="card">
   <div class="card-header">
      <h3 class="card-title">@Model.Nom</h3>
      <div class="d-flex justify-content-between">
         <small>#@Model.NoProduit</small>
         <span class="badge badge-success" style="font-size: 15px;">@Model.PPCategories.Description</span>
      </div>
   </div>
   <div class="card-body">
      <div class="media">
         <div class="media-left">
            <img class="media-object" src="~/Content/images/@Model.Photo" alt="produit ...." style="max-width: 35rem; min-width: 35rem;">
         </div>
         <div class="media-body">
            <p>
               <h1 id="spPrix">@dblPrixDemande.ToString("0.00") $</h1>
               <span><span class="font-weight-bold">Vendu par:</span> <a href="#">@Model.PPVendeurs.NomAffaires</a></span><br />
               <span class="fa fa-star checked"></span>
               <span class="fa fa-star checked"></span>
               <span class="fa fa-star checked"></span>
               <span class="fa fa-star checked"></span>
               <span class="fa fa-star"></span><br />
            </p>
            <hr>
            <p>
               <!--<button type="button" class="btn btn-outline-primary">Ajouter au panier <span class="fas fa-shopping-cart"></span></button>-->
               <span id="spQqt"><span class="font-weight-bold">&nbsp;&nbsp;Quantité restant:</span> @Model.NombreItems</span>
            </p>
            <hr>
            <p class="font-weight-bold">Description:</p>
            <p>@Model.Description</p>
            <p>
               <span class="font-weight-bold">Poids:</span><span> @Model.Poids lbs</span><br />
               <span><span class="font-weight-bold">En vente depuis:</span> @Model.DateCreation</span>
            </p>
         </div>
      </div>
   </div>
</div>
