@using PetitesPuces.Models
@model SaisieCommandeViewModel
@using (Html.BeginForm("SaisieCommande", "Client", FormMethod.Post))
{

<div class="card shopping-cart" id="commande" style="margin-top:0px">
    <div class="card-header" id="heading_commande">

        <div class="float-left">
            <h5 class="mb-0">
                    Votre panier pour le vendeur @Model.vendeur.NomAffaires
            </h5>
            <br />
            <button class="btn btn-danger" id="btnViderPanier" type="button" onclick="ViderLePanier(@Model.vendeur.NomAffaires)">Vider le panier</button>
        </div>
        <div class="float-right">
           <a class="btn btn-outline-primary btn-sm btn-block" href="/Client/Catalogue">Continuer à magasiner</a>
           <a class="btn btn-outline-primary btn-sm btn-block" href="/Client/Catalogue?vendeur=@Model.vendeur.NomAffaires">Voir le catalogue du vendeur</a>
        </div>
    </div>

    <div id="collapse_zoneCommande" class="collapse show" aria-labelledby="btnCommande" data-parent="#commande">

        <div class="card-body">
            @{
                double poidsLbs = 0;
                double dblSousTotal = 0.0;
                double dblPrixProduitCourant = 0.0;
            }
            <!-- Loop d'article -->
            @for (int x = 0; x < Model.lstArticlePanier.Count; x++)
            {
                double dblPrixStdUnit = 0;
                poidsLbs += (int)Model.lstArticlePanier[x].NbItems * (double)Model.lstArticlePanier[x].PPProduits.Poids;
                dblPrixProduitCourant = ((int)Model.lstArticlePanier[x].NbItems * (double)Model.lstArticlePanier[x].PPProduits.PrixDemande);
                dblPrixStdUnit = 1 * (double)Model.lstArticlePanier[x].PPProduits.PrixDemande;
                dblSousTotal += ((int)Model.lstArticlePanier[x].NbItems * (double)Model.lstArticlePanier[x].PPProduits.PrixDemande);
                decimal dclRabais = 0;
                if (Model.lstArticlePanier[x].PPProduits.DateVente != null && Model.lstArticlePanier[x].PPProduits.DateVente >= DateTime.Now)
                {
                    dclRabais = (Decimal)(Model.lstArticlePanier[x].PPProduits.PrixVente - Model.lstArticlePanier[x].PPProduits.PrixDemande);
                }
                @Html.HiddenFor(m => m.lstArticlePanier[x].PPClients);
                @Html.HiddenFor(m => m.lstArticlePanier[x].NoClient);
                @Html.HiddenFor(m => m.lstArticlePanier[x].PPVendeurs);
                @Html.HiddenFor(m => m.lstArticlePanier[x].NoVendeur);
                @Html.HiddenFor(m => m.lstArticlePanier[x].PPProduits);
                @Html.HiddenFor(m => m.client.NoClient);
                @Html.HiddenFor(m => m.vendeur.NoVendeur);
                    <div class="row" id="itemComplet">
                        <div class="col-12 col-sm-12 col-md-2 my-auto justify-content-center">
                            <img class="img-responsive" src="~/Content/images/@Model.lstArticlePanier[x].PPProduits.Photo" alt="prewiew" width="120" height="80">
                        </div>
                        <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-5">
                            <h4 class="product-name"><strong>@Model.lstArticlePanier[x].PPProduits.Nom</strong></h4>
                            @if (Model.lstArticlePanier[x].DateCreation < Model.lstArticlePanier[x].PPProduits.DateMAJ)
                            {
                                if (Model.lstArticlePanier­[x].NbItems > Model.lstArticlePanier[x].PPProduits.NombreItems)
                                {
                                    if (Model.lstArticlePanier[x].PPProduits.NombreItems > 0)
                                    {
                                        <small style="color:orangered">La quantité demandé est plus grande que la quantité disponible</small>
                                    }
                                    else
                                    {

                                        <small style="color:red">Ce produit n'est plus disponible</small>
                                    }
                                }
                                else
                                {

                                    <small style="color:orangered">Ce produit a été modifié depuis la mise en panier</small>
                                }
                            }<br />
                            <small>Poids unitaire : @Model.lstArticlePanier[x].PPProduits.Poids Lbs</small>
                            <h4>
                                <small>@Model.lstArticlePanier[x].PPProduits.Description</small>
                            </h4>
                        </div>
                        <div class="col-12 col-sm-12 text-sm-center col-md-5 text-md-right row align-items-center" style="padding-right:0px">
                            <div class="col-2 col-sm-2 col-md-4 text-md-left" style="padding-top: 10px;padding-right:0px">
                                <div class="row"><h6><strong>@dblPrixStdUnit.ToString("0.00") $ </strong></h6><span class="text-muted">x</span></div>
                                @if (Model.lstArticlePanier[x].PPProduits.DateVente != null && Model.lstArticlePanier[x].PPProduits.DateVente >= DateTime.Now)
                                {
                                    <div class="row"><h6><strong><span style="color:red;">@(dclRabais.ToString("0.00")) $</span></strong></h6></div>
                                }
                            </div>
                            <div class="col-2 col-sm-2 col-md-2" style="padding-left:0px;padding-right:0px">
                                <div class="quantity">
                                    <input id="@Model.lstArticlePanier[x].NoPanier" type="number" min="1" max="@Model.lstArticlePanier[x].PPProduits.NombreItems" step="1" class="qty" value="@Model.lstArticlePanier[x].NbItems" onchange="updateCart(@Model.lstArticlePanier[x].NoPanier)" onkeyup="">
                                </div>
                            </div>

                            <div class="col-3 col-sm-3 col-md-3 text-right" style="padding-top: 10px;padding-right:0px">
                                    <h6>
                                        <strong>@dblPrixProduitCourant.ToString("0.00") $</strong>
                                    </h6>
                                    @if (Model.lstArticlePanier[x].PPProduits.DateVente != null && Model.lstArticlePanier[x].PPProduits.DateVente >= DateTime.Now)
                                    {
                                        decimal dclRabaisTotalObjet = (Decimal)(dclRabais * Model.lstArticlePanier[x].NbItems);
                                        <div class="text-right"><h6><strong><span style="color:red;">@(dclRabaisTotalObjet.ToString("0.00")) $</span></strong></h6></div>
                                    }
                                </div>
                            <div class="col-1 col-sm-1 col-md-1">
                                <button type="button" class="btn btn-outline-danger btn-xs" id="btnSupprimmer_@Model.lstArticlePanier[x].NoPanier" onclick="supprimerProduit(@Model.lstArticlePanier[x].NoPanier)">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <hr />
                }

                <div class="card-footer">
                    <div class="row" style="padding:0px;margin:0px">
                        <div class="col-4 text-left" id="verifPoids">
                            <div class="row">
                                @if (Model.vendeur.PoidsMaxLivraison < poidsLbs)
                                {
                                    <br /> <br />
                                    <span style="color:red">Le poids de livraison maximal est dépassé</span>
                                }
                            </div>
                            <div class="row">
                                <div class="col-9 text-left">

                                    <div class="row">
                                        Poids de la livraison :
                                    </div>

                                    <div class="row">
                                        Poids maximal :
                                    </div>
                                </div>
                                <div class="col-3 text-right">
                                    @if (Model.vendeur.PoidsMaxLivraison > poidsLbs)
                                    {
                                        <div class="text-right">
                                            <span style="color:green"> @poidsLbs Lbs</span>
                                            <br />
                                            <span>@Model.vendeur.PoidsMaxLivraison Lbs</span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="text-right">
                                            <span style="color:red"> @poidsLbs Lbs</span>
                                            <br />
                                            <span>@Model.vendeur.PoidsMaxLivraison Lbs</span>
                                        </div>
                                            }
                                    </div>
                            </div>
                            <div class="row">
                                <br />
                                Frais de livraison et taxes en sus
                            </div>
                        </div>
                        <div class="col-3">&nbsp;</div>
                        <div class="col-3 text-left" style="padding-right:0px">
                            <h5>Sous-total</h5>
                        </div>
                        <div class="col-2 text-right">
                            <h5>
                                <strong>
                                    @dblSousTotal.ToString("0.00") $
                                </strong>
                            </h5>
                        </div>
                    </div>
                    <div class="row" style="padding:15px">

                        <div class="col-sm-6">
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex justify-content-end">
                                @if (Model.vendeur.PoidsMaxLivraison > poidsLbs)
                                {
                                    <input id="btnPasserCommande" class="btn btn-success" type="submit" value="Placer une commande" />
                                }
                                else
                                {

                                    <input id="btnPasserCommande" class="btn btn-success" title="Veuillez diminuer le poids total de la livraison" disabled value="Placer une commande" />
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
}