@model PagedList.IPagedList<PetitesPuces.Models.PPProduits>

<div class="card-deck">
    @foreach (var produit in Model)
    {
        string strNomDiv = "divItems" + produit.NoProduit;

        <div id="@strNomDiv" class="card border-dark mb-3 p-1 sCardItemCatalogue sCardItemCatalogue">
            <a href="@Url.Action("ProduitDetaille", "Client", new { @numero = produit.NoProduit})" class="custom-card">
                <img class="card-img-top" src="~/Content/images/@Html.DisplayFor(x => produit.Photo)" alt="produit ...." style="max-height: 14rem; min-height: 14rem;">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(x => produit.Nom)</h5>
                    <p class="card-text">
                        @Html.DisplayFor(x => produit.PrixDemande)$<br />
                        <span id="spQqt">Quantité restant: @Html.DisplayFor(x => produit.NombreItems)</span><br />
                        <small>#@Html.DisplayFor(x => produit.NoProduit)</small>
                    </p>
                    <p class="text-right">
                        <span class="badge badge-success">@Html.DisplayFor(x => produit.PPCategories.Description)</span>

                        @if(produit.DateVente.HasValue && DateTime.Now >= produit.DateVente.Value)
                        {
                            <span class="badge badge-warning">Promotion</span>
                        }
                    </p>
                </div>
            </a>
            @if (ViewBag.Provenance == "Vendeur")
            {
            <div class="card-footer btn-group" style="width:100%">
               <!--<button type="button" class="btn btn-outline-primary" title="modifier le produit"><span class="fas fa-edit"></span></button>-->
               <button type="button" class="btn btn-outline-primary" title="modifier le produit">@Html.ActionLink("    ", "ModifierProduit", "Vendeur", new { id = produit.NoProduit }, new { @class = "fas fa-edit" })</button>
               <button type="button" class="btn btn-outline-primary" title="supprimer le produit" onclick="supprimerProduit(@produit.NoProduit)"><span class="fas fa-trash"></span></button>
            </div>
            }
            else
            {
                <div class="card-footer btn-group" style="width:100%;">
                    <button type="button" class="btn btn-outline-primary" title="Commander le produit" value="@produit.NoProduit"  onclick="$.VerificationDisponibilite(this.value, @produit.NombreItems)"><i class="fas fa-shopping-cart"></i></button>
                </div>
            }
        </div>
    }
</div>
