@using PetitesPuces.Models
@model AccueilVendeurViewModel
<!doctype html>
<html lang="fr">
<head>
   <meta charset="utf-8">
   <title>Petites Puces</title>
   <!--Librairies externes (Bootstrap 4.2)-->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
   <link rel="stylesheet" href="~/Content/css/styleGeneral.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
   <style>

      body {
         position: relative;
      }

      #navbarCategorie {
         position: fixed;
      }

      /*
        * Base structure
        */
      /* Move down content because we have a fixed navbar that is 50px tall */

      /*body {
         padding-top: 50px;
      }*/

      /*
        * Typography
        */

      h1 {
         margin-bottom: 20px;
         padding-bottom: 9px;
         border-bottom: 1px solid #eee;
      }

      /*
        * Sidebar
        */

      .sidebar {
         position: fixed;
         top: 51px;
         bottom: 0;
         left: 0;
         z-index: 1000;
         padding: 20px;
         overflow-x: hidden;
         overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
         border-right: 1px solid #eee;
      }

      /* Sidebar navigation */
      .sidebar {
         padding-left: 0;
         padding-right: 0;
      }

         .sidebar .nav {
            margin-bottom: 20px;
         }

         .sidebar .nav-item {
            width: 100%;
         }

         .sidebar .nav-item + .nav-item {
            margin-left: 0;
         }

         .sidebar .nav-link {
            border-radius: 0;
         }

      /*
        * Dashboard
        */

      /* Placeholders */
      .placeholders {
         padding-bottom: 3rem;
      }

      .placeholder img {
         padding-top: 1.5rem;
         padding-bottom: 1.5rem;
      }
   </style>
</head>
<body>

   @Html.Partial("index")

   <div class="container-fluid">
      <div class="row">
         <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
            <ul class="nav nav-pills flex-column">
               <h4>Commandes non traités</h4>
               @foreach (var commandes in Model.lstCommandesNonTraites)
               {
                  <li class="nav-item">
                     <a class="nav-link" href="#commande_@commandes.Key.NoCommande">@commandes.Key.PPClients.Prenom @commandes.Key.PPClients.Nom<span class="sr-only">(current)</span></a>
                  </li>
               }

               <h4>Paniers courants</h4>
               @foreach (var panier in Model.lstClientPanier)
               {
                  <li class="nav-item">
                     <a class="nav-link" href="#">@panier.Key.Prenom @panier.Key.Nom<span class="sr-only">(current)</span></a>
                  </li>
               }

            </ul>
         </nav>

         <!--Les catégories avec entreprises-->
         <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">

            <h3>Les Commandes non traitées</h3>
            <br>
            <div id="accordion">
               @foreach (var commande in Model.lstCommandesNonTraites)
               {
                  <div class="card">
                     <div class="card-header" id="commande_@commande.Key.NoCommande">
                        <div class="float-left">
                           <img src="~/Content/images/order.jpg" alt="panier" class="rounded-circle" height="50px" width="50px">
                        </div>

                        <div class="float-center">
                           <h5 class="mb-0">
                              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseCom_@commande.Key.NoCommande" aria-expanded="true" aria-controls="collapseCom_@commande.Key.NoCommande">
                                 Commande: @commande.Key.PPClients.NoClient
                              </button>
                           </h5>
                        </div>
                     </div>
                     <!--Commande non traité 1-->
                     <div id="collapseCom_@commande.Key.NoCommande" class="collapse" aria-labelledby="commande_@commande.Key.NoCommande" data-parent="#accordion">
                        <div class="card-body">
                           <div class="card">
                              <div class="card-header">
                                 <h4>Client: @commande.Key.PPClients.Prenom @commande.Key.PPClients.Nom</h4>
                              </div>
                              <div class="card-body">
                                 <div class="row">
                                    @foreach (var produit in commande.Value)
                                    {
                                       double dblPrixVente = (double)produit.PPProduits.PrixDemande;
                                       <div class="col-sm-2">
                                          <div class="card">
                                             <div class="card-header">
                                                <h5>@produit.PPProduits.Nom</h5>
                                             </div>
                                             <div class="card-body">
                                                <div class="float-center">
                                                   <img src="~/Content/images/@produit.PPProduits.Photo" alt="mac" width="125px" height="125px" class="rounded-circle">
                                                </div>
                                             </div>
                                             <div class="card-footer">
                                                <h5>@dblPrixVente.ToString("0.00") $</h5>
                                             </div>
                                          </div>
                                       </div>
                                    }
                                 </div>
                              </div>
                              <div class="card-footer">
                                 <div class="row">
                                    <div class="col-sm-6">
                                       <div class="d-flex justify-content-start">
                                          @Html.ActionLink("Voir la commande détaillée", "CommandeDetail", "Vendeur", new { id = commande.Key.NoCommande }, new { @class = "btn btn-primary" })
                                       </div>
                                    </div>
                                    <div class="col-sm-6">
                                       <div class="d-flex justify-content-end">
                                          <button class="btn btn-success">Voir le pdf de la commande</button>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               }
               <hr>
               <h3>Les Paniers courants</h3>
               @foreach (var articlesPanier in Model.lstClientPanier)
               {
                  <div class="card">
                     <div class="card-header" id="panier_@articlesPanier.Key.NoClient">
                        <div class="float-left">
                           <img src="~/Content/images/cart.jpg" alt="panier" class="rounded-circle" height="50px" width="50px">
                        </div>

                        <div class="float-center">
                           <h5 class="mb-0">
                              <button class="btn btn-link" data-toggle="collapse" data-target="#collapse_@articlesPanier.Key.NoClient" aria-expanded="true" aria-controls="collapse_@articlesPanier.Key.NoClient">
                                 Panier client: @articlesPanier.Key.NoClient
                              </button>
                           </h5>
                        </div>

                     </div>

                     <div id="collapse_@articlesPanier.Key.NoClient" class="collapse" aria-labelledby="panier_@articlesPanier.Key.NoClient" data-parent="#accordion">
                        <div class="card-body">
                           <div class="card">
                              <div class="card-header">
                                 <h4>Client: @articlesPanier.Key.Prenom @articlesPanier.Key.Nom</h4>
                              </div>
                              <div class="card-body">
                                 <div class="row">
                                    <!--Tous les produits du panier-->
                                    @foreach (var panierProduit in articlesPanier)
                                    {
                                       double dblPriDemande = (double)panierProduit.PPProduits.PrixDemande;
                                       <div class="col-sm-2">
                                          <div class="card">
                                             <div class="card-header">
                                                <h5>@panierProduit.PPProduits.Nom</h5>
                                             </div>
                                             <div class="card-body">
                                                <div class="float-center">
                                                   <img src="~/Content/images/@panierProduit.PPProduits.Photo" alt="" width="125px" height="125px" class="rounded-circle">
                                                </div>
                                             </div>
                                             <div class="card-footer">
                                                <h5>@dblPriDemande.ToString("0.00") $</h5>
                                             </div>
                                          </div>
                                       </div>
                                    }
                                    <!--Produit 1-->
                                 </div>
                              </div>
                              <div class="card-footer">
                                 <div class="d-flex justify-content-start">
                                    @Html.ActionLink("Voir le panier détaillé", "PanierDetailVendeur", "Vendeur", new { id = articlesPanier.Key.NoClient}, new { @class="btn btn-primary"})
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               }

            </div>
            <hr>
            <table>
               <tr>
                  <td>
                     <img src="~/Content/images/visites.png" alt="visites" width="100px" height="100px">
                  </td>
                  <td>
                     <h3>&nbsp;&nbsp; Nombres de visites clients quotidienne: </h3>
                  </td>
                  <td>
                     <h4>&nbsp;<span style="color: red;">@Model.nbVisites</span></h4>
                  </td>
               </tr>
            </table>
         </main>
      </div>
   </div>

</body>
</html>