@model PetitesPuces.Models.PPVendeurs
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gestion profile du vendeur</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/css/styleGeneral.css" />
</head>
<body>
    <div id="navigation">
        @RenderPage("~/Views/Vendeur/index.cshtml")
    </div>
    <div class="container sEspaceBarNavigation">
        @Html.Partial("InformationPersonnel", Model)
        <br />
        @Html.Partial("ModificationMDP")
        <br />
        <div class="card">
            <h5 class="card-header">Section Vendeur</h5>
            <div class="card-body">
                <div class="form-row form-group">
                    <label class="col-form-label">Nom de l'entreprice</label>
                    @Html.TextBoxFor(x => x.NomAffaires, new { @class = "form-control" })
                </div>
                <div class="form-row form-group">
                    <div class="col-3">
                        <label class="col-form-label">Poids de livraison Maximum</label>
                        <div class="input-group">
                            @Html.TextBoxFor(x => x.PoidsMaxLivraison, new { @class = "form-control" })
                            <input type="text" class="form-control" id="tbPoids" placeholder="00">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    Lbs
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <label class="col-form-label">Prix de la livraison</label>
                        <div class="input-group">
                            @Html.TextBoxFor(x => x.LivraisonGratuite, new { @class = "form-control" })
                            <input type="text" class="form-control" id="tbPrixDemande" placeholder="00.00">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    $
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <label class="col-form-label">Taux de redevence</label>
                        <input type="text" class="form-control" disabled />
                    </div>
                    <div class="col-3">
                        <label class="col-form-label">Prélèvement de la taxe</label>
                        <input type="checkbox" class="form-check" />
                    </div>
                </div>
            </div>
            <div class="card-footer btn-group sPiedPageBouton">
                <button type="button" class="btn btn-outline-success">Sauvegarder</button>
                <a href="#" class="btn btn-outline-primary">Retour</a>
            </div>
        </div>
    </div>
</body>
</html>
