@model PetitesPuces.Models.PPVendeurs

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.NoVendeur)
    @Html.HiddenFor(x => x.AdresseEmail)
    @Html.Hidden("strProvenence", "")
    <div class="card">
        <h5 class="card-header">Modification du profil de <span>@Html.DisplayFor(model => Model.AdresseEmail)</span></h5>
        <div class="card-body">
            <div class="form-row form-group">
                <div class="col-3">
                    <label class="col-form-label">Prénom</label>
                    @Html.TextBoxFor(model => Model.Prenom, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Prenom)
                </div>
                <div class="col-3">
                    <label class="col-form-label">Nom</label>
                    @Html.TextBoxFor(model => Model.Nom, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Nom)
                </div>
                <div class="col-3">
                    <label class="col-form-label">Rue</label>
                    @Html.TextBoxFor(model => Model.Rue, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Rue)
                </div>
                <div class="col-3">
                    <label class="col-form-label">Ville</label>
                    @Html.TextBoxFor(model => Model.Ville, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Ville)
                </div>
            </div>
            <div class="form-row form-group">
                <div class="col-3">
                    <label class="col-form-label">Province</label>
                    @Html.DropDownListFor(x => x.Province, (SelectList)ViewBag.ListeProvinces, new { @class = "custom-select"})
                </div>
                <div class="col-3">
                    <label class="col-form-label">Pays</label>
                    @Html.TextBoxFor(x => x.Pays, new { @class = "form-control", @readonly = "readonly"})
                </div>
                <div class="col-2">
                    <label class="col-form-label">Code postal</label>
                    @Html.TextBoxFor(model => Model.CodePostal, new { @class = "form-control", placeholder = "A9A 9A9", @id = "codePostal" })
                    @Html.ValidationMessageFor(x => x.CodePostal)
                </div>
                <div class="col-2">
                    <label class="col-form-label">Téléphone #1</label>
                    @Html.TextBoxFor(model => Model.Tel1, new { @class = "form-control", placeholder = "(999) 999-9999", @id = "tel1" })
                    @Html.ValidationMessageFor(x => x.Tel1)
                </div>
                <div class="col-2">
                    <label class="col-form-label">Téléphone #2</label>
                    @Html.TextBoxFor(model => Model.Tel2, new { @class = "form-control", placeholder = "(999) 999-9999", @id = "tel2" })
                    @Html.ValidationMessageFor(x => x.Tel2)
                </div>
            </div>
        </div>
        <div class="card-footer btn-group sPiedPageBouton">
            <button type="submit" class="btn btn-outline-success" value="informationPersonnel" onclick="envoieSection(this)" >Sauvegarder</button>
            <a href="@Url.Action("/")" class="btn btn-outline-primary">Retour à l'accueil</a>
        </div>
    </div>
}
