@using PetitesPuces.Models
@model List<PPProduits>
@{
   ViewBag.Title = "CatalogueNouveaute";
}

@{
   Layout = null;
}

<!DOCTYPE html>

<html>
<head>
   <meta name="viewport" content="width=device-width" />
   <title>Page Catalogue</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
   <link rel="stylesheet" href="~/Content/css/styleGeneral.css">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
   <style>
      .sCardItemCatalogue {
         max-width: 17rem;
         min-width: 17rem;
      }

      a.custom-card,
      a.custom-card:hover {
         color: inherit;
      }
   </style>
</head>
<body>
   @Html.Partial("index")
  <br />
   <div class="container">
      <br />
      <div class="alert alert-warning d-flex justify-content-center" role="alert">
         <h5>*Pour voir l'ensemble des produits et commander, vous devez vous connecter au système*</h5>
      </div>
      <br />
      <div class="card-columns">
         @for (int i = 0; (i < 15) && (i < Model.Count()); i++)
         {
            double dblPrixVente = (double)Model[i].PrixDemande;
            <!--<a href="/Internaute/ProduitDetaille" class="custom-card">-->
            <div id="divItems" class="card border-dark mb-3 sCardItemCatalogue">
               <img class="card-img-top" src="~/Content/images/@Model[i].Photo" alt="produit ...." width="250px" height="250px">
               <div class="card-body">
                  <h5 class="card-title">@Model[i].Nom</h5>
                  <p class="card-text">
                     <span id="spPrix">@dblPrixVente.ToString("0.00") $</span><br />
                     <span id="spQqt">Quantité restant: @Model[i].NombreItems</span><br />
                     <small>
                        #@Model[i].NoProduit
                     </small>
                  </p>
                  <p class="text-right"><span class="badge badge-success">@Model[i].PPCategories.Description</span></p>
                  <img src="~/Content/images/new_item.jpg" width="45px" height="45px">
                  @Html.ActionLink("Détails du produit", "ProduitDetaille", "Internaute", new { noProduit = Model[i].NoProduit }, new { @class = "btn btn-primary" })
               </div>
            </div>
            <!--</a>-->
         }


      </div>
   </div>
</body>
</html>


