@using PetitesPuces.Models
@model PPCommandes
@{
    Layout = null;
}

<!DOCTYPE html>
<link rel="stylesheet" href="~/Content/css/styleGeneral.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>

<body>
    @Html.Partial("test")
    <div class="container sEspaceBarNavigation h-100" id="bigDiv">
        <div class="row">
            @if (TempData["NoAutorisation"] != null && TempData["DateAutorisation"] != null && TempData["FraisMarchand"] != null && (String)TempData["InfoSuppl"] != "N/A")
            {
                int noAutorisation = int.Parse(TempData["NoAutorisation"].ToString());
                if (noAutorisation >= 1000 && noAutorisation <= 5000)
                {
            <div class="col-md-5">
                <div class="row">Numéro d'autorisation</div>
                <div class="row">Date d'autorisation</div>
            </div>
            <div class="offset-md-1"></div>
            <div class="col-md-5">
                <div class="row">@TempData["NoAutorisation"]</div>
                <div class="row">@TempData["DateAutorisation"]</div>
                <div class="row">@TempData["InfoSuppl"]</div>
            </div>
                }
                else
                {
            <div class="col-md-5">
                <div class="row">Numéro de refus</div>
                <div class="row">Raison</div>
                <div class="row">Date de refus</div>
            </div>
            <div class="offset-md-1"></div>
            <div class="col-md-5">
                <div class="row">@TempData["NoAutorisation"]</div>
                @switch (noAutorisation)
                        {
                            case 0:
                <div class="row">Transaction annulée par l'utilisateur</div>
                                break;
                            case 1:
                <div class="row">Transaction refusée : Date d'expiration dépassée</div>
                                break;
                            case 2:
                <div class="row">Transaction refusée : Limite de crédit atteinte</div>
                                break;
                            case 3:
                <div class="row">Transaction refusée : Carte refusée</div>
                                break;
                            default:
                <div class="row">Erreur de validation</div>
                                break;
                        }
                <div class="row">@TempData["DateAutorisation"]</div>
            </div>
                }
            }
            else
            {
            <div class="align-items-center">
                <text>
                    <h1>Accès interdit</h1>
                </text>
            </div>
            }
        </div>
    </div>
    @if(Model != null){
    @Html.Partial("Facture", (PPCommandes)ViewBag.Commande)

    <script>
        var valeurComm = @Model.NoCommande;
        $("#formPDF").attr('action', '/PDFFacture/' + valeurComm + '.pdf');
    </script>
    <form id="formPDF">
        <div class="text-center"><input type="submit" class="btn btn-primary" value="Imprimer en PDF" formtarget="_blank" /></div>
    </form>
    }
    <!--On affiche la facture-->

</body>
</html>
