@using PetitesPuces.Models
@model PPClients
@using (Html.BeginForm())
{
    <div class="card shopping-cart" id="infoPerso" style="margin-top:0px;">
        <div class="card-header" id="heading_infoPerso">

            <div class="float-left">
                <h5 class="mb-0">
                    <button id="btnInformationLivraison" class="btn btn-link text-s disabled" data-toggle="collapse" data-target="#collapse_zoneInfos" aria-expanded="true" aria-controls="#collapse_zoneInfos">
                        Informations de livraison
                    </button>
                </h5>
            </div>
        </div>
        <div id="collapse_zoneInfos" class="collapse" aria-labelledby="btnInformationLivraison" data-parent="#infoPerso">

            <div class="card-body  align-items-center" style="padding:0px">
                <br />
                <div class="row">
                    <div class="offset-md-1"></div>
                    <label class="col-md-5">Prénom</label>
                    <div class="offset-md-1"></div> 
                    <label class="col-md-5">Nom</label>
                </div>

                <div class="row">

                    <div class="offset-md-1"></div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(mod => Model.Prenom, new { @class = "form-control", @Value =Model.Prenom, @onchange = "infoClient('Prenom='+this.value)" })
                        @Html.ValidationMessageFor(mod => Model.Prenom)
                    </div>
                    <div class="offset-md-1"></div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(mod => Model.Nom, new { @class = "form-control", @Value = Model.Nom, @onchange = "infoClient('Nom='+this.value)" })
                        @Html.ValidationMessageFor(mod => Model.Nom)
                    </div>
                </div>

                <div class="row">
                    <div class="offset-md-1"></div>
                    <label class="col-md-5">Courriel électronique</label>
                    <div class="offset-md-1"></div>
                    <label class="col-md-5">Rue</label>
                </div>

                <div class="row">
                    <div class="offset-md-1"></div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(mod => Model.AdresseEmail, new { @class = "form-control", @disabled = "disabled", @Value= Model.AdresseEmail, @onchange = "infoClient('Email='+this.value)" })
                        @Html.ValidationMessageFor(mod => Model.AdresseEmail)
                    </div>
                    <div class="offset-md-1"></div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(mod => Model.Rue, new { @class = "form-control", @Value = Model.Rue, @onchange = "infoClient('Rue='+this.value)" })
                        @Html.ValidationMessageFor(mod => Model.Rue)
                    </div>
                </div>

                <div class="row">
                    <div class="offset-md-1"></div>
                    <label class="col-md-5">Ville</label>
                    <div class="offset-md-1"></div>
                    <label class="col-md-5">Province</label>
                </div>

                <div class="row">
                    <div class="offset-md-1"></div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(mod => Model.Ville, new { @class = "form-control", @Value = Model.Ville, @onchange = "infoClient('Ville='+this.value)" })
                        @Html.ValidationMessageFor(mod => Model.Ville)
                    </div>
                        <div class="offset-md-1"></div>
                            @Html.DropDownListFor(x => x.Province, (SelectList)ViewBag.ListeProvinces, new { @class = "form-control col-md-4", @onchange = "infoClient('Province='+this.value)" })
                    </div>

                <div class="row">
                    <div class="offset-md-1"></div>
                    <label class="col-md-5">Pays</label>
                    <div class="offset-md-1"></div>
                    <label class="col-md-5">Code Postal</label>
                </div>

                <div class="row">
                    <div class="offset-md-1"></div>

                    <div class="col-md-5">
                        @Html.TextBoxFor(mod => Model.Pays, new { @class = "form-control", @disabled = "disabled", @Value = "Canada" })
                        @Html.ValidationMessageFor(mod => Model.Pays)
                    </div>
                    <div class="offset-md-1"></div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(mod => Model.CodePostal, new { @class = "form-control", @Value=Model.CodePostal, @onchange = "infoClient('CodePostal='+this.value)" })
                        @Html.ValidationMessageFor(mod => Model.CodePostal)
                    </div>
                </div>
                <div class="row">
                    <div class="offset-md-1"></div>
                    <label class="col-md-5">Téléphone primaire</label>
                    <div class="offset-md-1"></div>
                    <label class="col-md-5">Téléphone secondaire</label>
                </div>

                <div class="row">
                    <div class="offset-md-1"></div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(mod => Model.Tel1, new { @class = "form-control", @Value = Model.Tel1, @onchange = "infoClient('Tel1='+this.value)" })
                        @Html.ValidationMessageFor(mod => Model.Tel1)
                    </div>
                        <div class="offset-md-1"></div>
                        <div class="col-md-4">
                            @Html.TextBoxFor(mod => Model.Tel2, new { @class = "form-control", @Value = Model.Tel2, @onchange = "infoClient('Tel2='+this.value)" })
                            @Html.ValidationMessageFor(mod => Model.Tel2)
                        </div>
                    </div>
            </div>
            <br />

            <div class="card-footer">
                <div class="row align-items-center">
                    <div class="offset-md-4"></div>
                    <span class="col-md-4" id="erreur"></span>
                    <div class="offset-md-4"></div>
                </div>
                <div class="row align-items-center">
                    <div class="offset-md-4"></div>
                    <input type="button" id="btnChoixDePoste" class="btn btn-success btn-block col-md-4" value="Passer à la prochaine étape" style="width:30%" />
                    <div class="offset-md-4"></div>
                </div>
            </div>
        </div>
    </div>
}
