@using PetitesPuces.Models
@model PPClients
    <div class="card shopping-cart" id="infoPerso" style="margin-top:0px;">
        <div class="card-header" id="heading_infoPerso">

            <div class="float-left">
                <h5 class="mb-0">
                    <button id="btnInformationLivraison" class="btn btn-link text-s disabled" data-toggle="collapse" data-target="#collapse_zoneInfos" aria-expanded="true" aria-controls="#collapse_zoneInfos">
                        Informations de livraison
                    </button>
                </h5>
            </div>
        </div>
        <div id="collapse_zoneInfos" class="collapse" aria-labelledby="btnInformationLivraison" data-parent="#infoPerso">

            <div class="card-body  align-items-center" style="padding:0px">
                <br />
                <div class="row">
                    <div class="offset-md-1"></div>
                    <label class="col-md-5">Prénom</label>
                    <div class="offset-md-1"></div> 
                    <label class="col-md-5">Nom</label>
                </div>

                <div class="row">

                    <div class="offset-md-1"></div>
                    <div class="col-md-5">
                        <input type="text" id="Prenom" class="form-control" value="@Model.Prenom" maxlength="50" onfocusout="infoClient('Prenom='+this.value+'='+this.id)"/>
                    </div>
                    <div class="offset-md-1"></div>
                    <div class="col-md-4">
                        <input type="text" id="Nom" class="form-control" value="@Model.Nom" maxlength="50" onfocusout="infoClient('Nom='+this.value+'='+this.id)" />
                    </div>
                </div>

                <div class="row">
                    <div class="offset-md-1"></div>
                    <label class="col-md-5">Courriel électronique</label>
                    <div class="offset-md-1"></div>
                    <label class="col-md-5">Rue</label>
                </div>

                <div class="row">
                    <div class="offset-md-1"></div>
                    <div class="col-md-5">
                        <input type="text" class="form-control" value="@Model.AdresseEmail" disabled />
                    </div>
                    <div class="offset-md-1"></div>
                    <div class="col-md-4">
                        <input type="text" id="Rue" class="form-control" maxlength="50" value="@Model.Rue" onfocusout="infoClient('Rue='+this.value+'='+this.id)" />
                    </div>
                </div>

                <div class="row">
                    <div class="offset-md-1"></div>
                    <label class="col-md-5">Ville</label>
                    <div class="offset-md-1"></div>
                    <label class="col-md-5">Province</label>
                </div>

                <div class="row">
                    <div class="offset-md-1"></div>
                    <div class="col-md-5">
                        <input type="text" id="Ville" class="form-control" maxlength="50" value="@Model.Ville" onfocusout="infoClient('Ville='+this.value+'='+this.id)"/>
                    </div>
                        <div class="offset-md-1"></div>
                            @Html.DropDownListFor(x => x.Province, (SelectList)ViewBag.ListeProvinces, new { @class = "form-control col-md-4", @onfocusout = "infoClient('Province='+this.value+'='+this.id)" })
                    </div>

                <div class="row">
                    <div class="offset-md-1"></div>
                    <label class="col-md-5">Pays</label>
                    <div class="offset-md-1"></div>
                    <label class="col-md-5">Code Postal</label>
                </div>

                <div class="row">
                    <div class="offset-md-1"></div>

                    <div class="col-md-5">
                        <input type="text" class="form-control" value="Canada" disabled/>
                    </div>
                    <div class="offset-md-1"></div>
                    <div class="col-md-4">
                        <input type="text" id="CodePostal" class="form-control" value="@Model.CodePostal" id="CodePostal" onfocusout="infoClient('CodePostal='+this.value+'='+this.id)"/>
                    </div>
                </div>
                <div class="row">
                    <div class="offset-md-1"></div>
                    <label class="col-md-5">Téléphone primaire</label>
                    <div class="offset-md-1"></div>
                    <label class="col-md-5">Téléphone secondaire</label>
                </div>

                <div class="row">
                    <div class="offset-md-1"></div>
                    <div class="col-md-5">
                        <input type="text" class="form-control" value="@Model.Tel1" id="Tel1" onfocusout="infoClient('Tel1='+this.value+'='+this.id)" />
                        </div>
                        <div class="offset-md-1"></div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" value="@Model.Tel2" id="Tel2" onfocusout="infoClient('Tel2='+this.value+'='+this.id)" />
                        </div>
                    </div>
            </div>
            <br />

            <div class="card-footer">
                <div class="row align-items-center">
                    <div class="offset-md-3"></div>
                    <span class="col-md-6 text-center" id="erreur"></span>
                    <div class="offset-md-3"></div>
                </div>
                <div class="row align-items-center">
                    <div class="offset-md-4"></div>
                    <input type="button" id="btnChoixDePoste" class="btn btn-success btn-block col-md-4" value="Passer à la prochaine étape" style="width:30%" />
                    <div class="offset-md-4"></div>
                </div>
            </div>
        </div>
    </div>

