@model PetitesPuces.Models.PPClients
@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.NoClient)
    @Html.Hidden("strProvenence", "modificationmdp");
    <div class="card">
        <h5 class="card-header">Modification du mot de passe</h5>
        @Html.DisplayFor(x => x.MotDePasse)
        <div class="card-body">
            <div class="form-row form-group">
                <div class="col-6">
                    <label class="col-form-label mr-auto">Ancien mot de passe</label>
                    <input type="text" class="form-control" id="tbAncienMdp" name="tbAncienMdp" />
                    <span style="color:red">@ViewBag.MessageErreurAncient</span>
                </div>

            </div>
            <div class="form-row form-group">
                <div class="col-6">
                    <label class="col-form-label">Nouveau mot de passe</label>
                    <input type="text" class="form-control" id="tbNouveauMdp" name="tbNouveauMdp" />
                    <span style="color:red">@ViewBag.MessageErreurNouveau</span>
                </div>
                <div class="col-6">
                    <label class="col-form-label">Confirmation mot de passe</label>
                    <input type="text" class="form-control" id="tbConfirmationMdp" name="tbConfirmationMdp"/>
                    <span style="color:red">@ViewBag.MessageErreurConfirmation</span>
                </div>
            </div>
        </div>
        <div class="card-footer btn-group sPiedPageBouton">
            <button type="submit" class="btn btn-outline-success">Sauvegarde</button>
            <a href="#" class="btn btn-outline-primary">Retour</a>
        </div>
    </div>
}
