@using PetitesPuces.Models
@model PetitesPuces.ViewModels.ProduitDetailViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page produit détaillé</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <style>
        .checked {
            color: orange;
        }
    </style>
</head>
<body>
    <div id="navigation">
        @{
            if (Session["gestionnaireObj"] != null)
            {

                @Html.Partial("~/Views/Gestionnaire/index.cshtml")
            }
            else if (Session["clientObj"] != null)
            {
                @Html.Partial("~/Views/Client/index.cshtml")
            }
            else
            {
                @Html.Partial("~/Views/Vendeur/index.cshtml")
            }
        }

    </div>
    <br /><br /><br />
    <div class="container mb-5">
        @Html.Partial("Client/DetailProduit", Model)

        @Html.Partial("Client/EcrireEvaluation", Model)

        @if (Request.UrlReferrer != null)
        {
            <a class="btn btn-primary btn-block" href="@Session["retour"]">Retour à la page précédente</a><br />
        }
        @if (Session["clientObj"] != null)
        {

            MessageViewModel message = new MessageViewModel((int)((PPClients)Session["clientObj"]).NoClient, (int)Model.Produit.NoVendeur, ViewBag.NomVendeur, ViewBag.NomClient, "");

            <div id="saisie_courriel" style="visibility:hidden">
                <br />
                <h4>Envoie d'un message au vendeur du produit</h4>
                @Html.Partial("Courriel/Message", message);
            </div>
        }
    </div>
    <script type="text/javascript">
    $.AjoutAuPanier = function (numeroDeProduit) {
        let qqtProduitDesire = $('#numNbAjoutPanier').val();

        $.ajax({
            url: '@Url.Action("AjoutAuPanier", "Client")',
            contentType: 'application/json;',
            type: "POST",
            data: JSON.stringify({ "intNoProduit": numeroDeProduit, "intNbProduit": qqtProduitDesire }),
            success: function (elementRetour, status, xhr) {
                console.log('parfait => ' + elementRetour);
                $('#modAjoutPanier').modal('hide');
            },
            failure: function (response) {
                console.log("La requete d'ajout a échouée!");
            },
            error: function (response) {
                console.log("Une erreur dans la requete d'ajout!");
            }
        });
    }

    $.VerificationDisponibilite = function (numeroDeProduit) {

        $.ajax({
            url: '@Url.Action("EtatProduitPanier", "Client")',
            contentType: 'application/json;',
            type: "POST",
            data: JSON.stringify({ "intNoProduit": numeroDeProduit }),
            success: function (elementRetour, status, xhr) {
                console.log('parfait => ' + elementRetour);

                if (elementRetour == @Model.Produit.NombreItems) {
                    $('#messageIndisponible').css("display", "");
                    $('#divControleQuantite').removeClass("d-flex");
                    $('#divControleQuantite').css("display", "none");
                    $('#btnAjoutProduit').css("visibility", "hidden");

                    $('#modAjoutPanier').modal('show');
                }
                else if (elementRetour > 0) {
                    $('#messageAvertissement').css("display", "");
                    $('#spQuantite').text(elementRetour);
                    $('#numNbAjoutPanier').prop("max", @Model.Produit.NombreItems - elementRetour);
                    $('#numNbAjoutPanier').val(1);

                    $('#modAjoutPanier').modal('show');
                }
                else {
                    $('#numNbAjoutPanier').prop("max", @Model.Produit.NombreItems - elementRetour);
                    $('#numNbAjoutPanier').val(1);

                    $('#modAjoutPanier').modal('show');
                }

            },
            failure: function (response) {
                console.log("La requete d'ajout a échouée!");
            },
            error: function (response) {
                console.log("Une erreur dans la requete d'ajout!");
            }
       });
       }

       function accepter(id) {
          console.log($('#saisie_courriel').css("visibility") == "hidden");
          if ($('#saisie_courriel').css("visibility") == "hidden") {
             var objSaisieMessage = document.getElementById('saisie_courriel');
             objSaisieMessage.style.visibility = "visible";
             location.href += "#saisie_courriel";
          }
       }

       function confirmer(noExpediteur, noDestinataire) {
          //Aller chercher le message
          var message = $('#form_message').val();
          console.log('message: ' + message);
          if (message.trim() != '') {
             $.ajax({
                url: "/Client/EnvoyerMessage",
                data: { "noDestinataire": noDestinataire, "noExpediteur": noExpediteur, "message": message },
                success: retourAccueil,
                error: error,
             });
          }
          else {
             console.log('écrit un message pour l\'envoyer');
             alert('Veuillez écrire un message.');
          }
       }

       function error() {
          console.log('erreur.');
       }

       function retourAccueil() {
          location.href = "/Client/Catalogue";
       }
       function annuler(id) {
          console.log('well cest useless');
       }

       /*function success(model) {
           $("#panier").html(model)
           //console.log(model);
       }*/

    </script>
</body>
</html>
