@using PetitesPuces.Models
@model SaisieCommandeViewModel
@{
    double poidsKg = 0;
    Layout = null;

}
<!DOCTYPE html>

<link rel="stylesheet" href="~/Content/css/styleGeneral.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">

</script>
<style>
    .quantity {
        float: left;
        background-color: #eee;
        position: relative;
        width: 80px;
        overflow: hidden
    }

        .quantity input {
            margin: 0;
            text-align: center;
            width: 15px;
            height: 15px;
            padding: 0;
            float: right;
            color: #000;
            font-size: 20px;
            border: 0;
            outline: 0;
            background-color: #F6F6F6
        }

            .quantity input.qty {
                position: relative;
                border: 0;
                width: 100%;
                height: 40px;
                padding: 10px 25px 10px 10px;
                text-align: center;
                font-weight: 400;
                font-size: 15px;
                border-radius: 0;
                background-clip: padding-box
            }

        .quantity .minus, .quantity .plus {
            line-height: 0;
            background-clip: padding-box;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            -webkit-background-size: 6px 30px;
            -moz-background-size: 6px 30px;
            color: #bbb;
            font-size: 20px;
            position: absolute;
            height: 50%;
            border: 0;
            right: 0;
            padding: 0;
            width: 25px;
            z-index: 3
        }

            .quantity .minus:hover, .quantity .plus:hover {
                background-color: #dad8da
            }

        .quantity .minus {
            bottom: 0
        }

    .shopping-cart {
        margin-top: 20px;
    }

    button:disabled {
        background-color: #dddddd;
    }
    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

        /* Style the buttons that are used to open the tab content */
        .tab button {
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #ccc;
            }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }

    .input-validation-error {
        border: 1px solid #ff0000;
        background-color: white;
    }
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <title>Saisie d'une commande</title>
</head>
<body id="body">
    @{

        var lstTypeLivraison = (List<PPTypesLivraison>)ViewData["TypeLivraison"];
        var lstMontantLivraison = (List<PPPoidsLivraisons>)ViewData["MontantLivraison"];
        double dblPrixTotal = 0.0;
        double dblSousTotal = 0.0;
        double frais = 0.0;
        double dblPrixProduitCourant = 0.0;
        int compteur = 0;
    }

    <!-- Barre de navigation -->
    @Html.Partial("test")
    <!-- Ensemble de collapsable -->

    <div class="container sEspaceBarNavigation" id="bigDiv">
        <!-- Bar de progrès -->
        <div class="progress">
            <div class="progress-bar" id="bar" role="progressbar" aria-valuenow="0"
                 aria-valuemin="0" aria-valuemax="100" style="width:0%">
                <span id="barSpan" text="0%" />
            </div>
        </div>
        <br />
        <br />
        <!-- Section commande, prix/quantité/taxes/poids etc, validation de la commande-->
        <div class="card shopping-cart" id="commande" style="margin-top:0px">
        <div class="card shopping-cart" id="commande" style="margin-top:0px">
            <div class="card-header" id="heading_commande">

                <div class="float-left">
                    <h5 class="mb-0">
                        <button id="btnCommande" class="btn btn-link text-s" data-toggle="collapse" data-target="#collapse_zoneCommande" aria-expanded="true" aria-controls="#collapse_zoneCommande">
                            Commande
                        </button>
                    </h5>
                </div>
                <div class="float-right">
                    <button id="btnContinueMagasiner" type="button" class="btn btn-primary btn-sm btn-block">
                        <span class="glyphicon glyphicon-share-alt"></span> Continuer à magasiner
                    </button>
                </div>
            </div>

            <div id="collapse_zoneCommande" class="collapse show" aria-labelledby="btnCommande" data-parent="#commande">

                <div class="card-body">
                    @{ 

                        double totalTps = 0;
                        double totalTvq = 0;
                    }
                    <!-- Loop d'article -->
                    @for (int x = 0; x < Model.lstArticlePanier.Count; x++)
                    {
                        double dblPrixStdUnit = 0;
                        poidsKg += (int)Model.lstArticlePanier[x].NbItems * (double)Model.lstArticlePanier[x].PPProduits.Poids;
                        if (Model.lstArticlePanier[x].PPProduits.DateVente != null && Model.lstArticlePanier[x].PPProduits.DateVente >= DateTime.Now)
                        {
                            dblPrixProduitCourant = ((int)Model.lstArticlePanier[x].NbItems * (double)Model.lstArticlePanier[x].PPProduits.PrixVente);
                            dblPrixStdUnit = 1 * (double)Model.lstArticlePanier[x].PPProduits.PrixVente;
                            dblSousTotal += ((int)Model.lstArticlePanier[x].NbItems * (double)Model.lstArticlePanier[x].PPProduits.PrixVente);
                        }
                        else
                        {
                            dblPrixProduitCourant = ((int)Model.lstArticlePanier[x].NbItems * (double)Model.lstArticlePanier[x].PPProduits.PrixDemande);
                            dblPrixStdUnit = 1 * (double)Model.lstArticlePanier[x].PPProduits.PrixDemande;
                            dblSousTotal += ((int)Model.lstArticlePanier[x].NbItems * (double)Model.lstArticlePanier[x].PPProduits.PrixDemande);
                        }
                        /*@Html.HiddenFor(lst => lst.lstArticlePanier[x].DateCreation)
                        @Html.HiddenFor(lst => lst.lstArticlePanier[x].NoClient)
                        @Html.HiddenFor(lst => lst.lstArticlePanier[x].NoPanier)
                        @Html.HiddenFor(lst => lst.lstArticlePanier[x].NoProduit)
                        @Html.HiddenFor(lst => lst.lstArticlePanier[x].NoVendeur)
                        @Html.HiddenFor(lst => lst.lstArticlePanier[x].PPClients.NoClient)
                        @Html.HiddenFor(lst => lst.lstArticlePanier[x].PPVendeurs.NoVendeur)
                        @Html.HiddenFor(lst => lst.lstArticlePanier[x].NbItems)*/
                        if (lstMontantLivraison != null)
                        {
                            <div class="row" id="itemEpurer">
                                <div class="col-12 col-sm-12 col-md-2 my-auto justify-content-center">
                                    <img class="img-responsive" src="~/Content/images/@Model.lstArticlePanier[x].PPProduits.Photo" alt="prewiew" width="120" height="80">
                                </div>
                                <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-5 vertical-align-center">
                                    <h4 class="product-name"><strong>@Model.lstArticlePanier[x].PPProduits.Nom</strong></h4>
                                </div>
                                <div class="col-12 col-sm-12 text-sm-center col-md-5 text-md-right row align-items-center" style="padding-right:0px">
                                    <div class="col-2 col-sm-2 col-md-4 text-md-left" style="padding-top: 10px;padding-right:0px">
                                        <h6><strong>@dblPrixStdUnit.ToString("0.00")$ <span class="text-muted">x</span></strong></h6>

                                    </div>
                                    <div class="col-2 col-sm-2 col-md-2" style="padding-left:0px;padding-right:0px">
                                        <div class="quantity">
                                            <span id="@Model.lstArticlePanier[x].NoPanier" type="text">@Model.lstArticlePanier[x].NbItems</span>
                                        </div>
                                    </div>

                                    <div class="col-3 col-sm-3 col-md-3 text-right" style="padding-top: 10px;padding-right:0px">
                                        <h6>
                                            <strong>@dblPrixProduitCourant.ToString("0.00")$</strong>
                                        </h6>
                                    </div>
                                    <div class="col-1 col-sm-1 col-md-1">
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="row" id="itemComplet">
                                <div class="col-12 col-sm-12 col-md-2 my-auto justify-content-center">
                                    <img class="img-responsive" src="~/Content/images/@Model.lstArticlePanier[x].PPProduits.Photo" alt="prewiew" width="120" height="80">
                                </div>
                                <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-5">
                                    <h4 class="product-name"><strong>@Model.lstArticlePanier[x].PPProduits.Nom</strong></h4>
                                    <small>Poids unitaire : @Model.lstArticlePanier[x].PPProduits.Poids Lbs</small>
                                    <h4>
                                        <small>@Model.lstArticlePanier[x].PPProduits.Description</small>
                                    </h4>
                                </div>
                                <div class="col-12 col-sm-12 text-sm-center col-md-5 text-md-right row align-items-center" style="padding-right:0px">
                                    <div class="col-2 col-sm-2 col-md-4 text-md-left" style="padding-top: 10px;padding-right:0px">
                                        <h6><strong>@dblPrixStdUnit.ToString("0.00")$ <span class="text-muted">x</span></strong></h6>

                                    </div>
                                    <div class="col-2 col-sm-2 col-md-2" style="padding-left:0px;padding-right:0px">
                                        <div class="quantity">
                                            <input id="@Model.lstArticlePanier[x].NoPanier" type="number" min="0" max="@Model.lstArticlePanier[x].PPProduits.NombreItems" step="1" class="qty" value="@Model.lstArticlePanier[x].NbItems" onchange="updateCart(@Model.lstArticlePanier[x].NoPanier)" onkeyup="">
                                        </div>
                                    </div>

                                    <div class="col-3 col-sm-3 col-md-3 text-right" style="padding-top: 10px;padding-right:0px">
                                        <h6>
                                            <strong>@dblPrixProduitCourant.ToString("0.00")$</strong>
                                        </h6>
                                    </div>
                                    <div class="col-1 col-sm-1 col-md-1">
                                        <button type="button" class="btn btn-outline-danger btn-xs" id="btnSupprimmer_@Model.lstArticlePanier[x].NoPanier" onclick="supprimerProduit(@Model.lstArticlePanier[x].NoPanier)">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                            @*Html.ActionLink("Supprimer", "SupprimerProduit", "Client", new { id = @Model.lstArticlePanier[x].NoPanier}, new { })*@
                                        </button>
                                    </div>
                                </div>
                            </div>
                        }
                        <hr />
                        compteur++;
                    }

                    <div class="card-footer">
                        <div class="row" style="padding:0px;margin:0px">
                            @if (lstMontantLivraison != null)
                            {

                                <div class="col-4" id="radioButtonLivraison">
                                    <div class="align-items-left ">
                                        @foreach (PPTypesLivraison ppTypeLivraison in lstTypeLivraison)
                                        {
                                            //En temps normal j'essaie de pas "Hardcoder" de valeur, mais le document précise que la Poste Régulière est automatiquement sélectionnée.
                                            // Donc, au cas ou quelqu'un décide de jouer avec les liaisons ID-Description dans la BDD ou dans ajouter...
                                            <div class="row">
                                                <div class="col-8 text-left">
                                                    @if (ViewData["cbChecked"] != null)
                                                    {
                                                        if (ViewData["cbChecked"] != null && ViewData["cbChecked"].ToString() != "0" && Double.Parse(ViewData["cbChecked"].ToString()) == Double.Parse(lstMontantLivraison.Where(m => m.CodeLivraison == ppTypeLivraison.CodeLivraison).First().Tarif.ToString()))
                                                        {
                                                            if (Double.Parse(Model.vendeur.LivraisonGratuite.ToString()) <= dblSousTotal && ppTypeLivraison.CodeLivraison == 1)
                                                            {
                                                                <input type="radio" name="typePoste" value="@ppTypeLivraison.CodeLivraison" onclick="checkBoxFraisLivraison(@lstMontantLivraison.Where(m => m.CodeLivraison == ppTypeLivraison.CodeLivraison).First().Tarif)" checked />
                                                                <span><strong>@ppTypeLivraison.Description</strong></span>
                                                            }
                                                            else
                                                            {
                                                                frais = double.Parse(lstMontantLivraison.Where(m => m.CodeLivraison == ppTypeLivraison.CodeLivraison).First().Tarif.ToString());
                                                                <input type="radio" name="typePoste" value="@ppTypeLivraison.CodeLivraison" onclick="checkBoxFraisLivraison(@lstMontantLivraison.Where(m => m.CodeLivraison == ppTypeLivraison.CodeLivraison).First().Tarif)" checked />
                                                                <span><strong>@ppTypeLivraison.Description</strong></span>
                                                            }

                                                        }
                                                        else if (ppTypeLivraison.Description.Equals("Poste régulière") && (ViewData["cbChecked"].ToString() == "0" || ViewData["cbChecked"].ToString() == lstMontantLivraison.Where(m => m.CodeLivraison == ppTypeLivraison.CodeLivraison).First().Tarif.ToString()))
                                                        {
                                                            if (Double.Parse(Model.vendeur.LivraisonGratuite.ToString()) > dblSousTotal)
                                                            {
                                                                frais = double.Parse(lstMontantLivraison.Where(m => m.CodeLivraison == ppTypeLivraison.CodeLivraison).First().Tarif.ToString());
                                                            }
                                                            <input type="radio" name="typePoste" value="@ppTypeLivraison.CodeLivraison" onclick="checkBoxFraisLivraison(@lstMontantLivraison.Where(m => m.CodeLivraison == ppTypeLivraison.CodeLivraison).First().Tarif)" checked /> <span><strong>@ppTypeLivraison.Description</strong></span>
                                                        }
                                                        else
                                                        {
                                                            <input type="radio" name="typePoste" value="@ppTypeLivraison.CodeLivraison" onclick="checkBoxFraisLivraison(@lstMontantLivraison.Where(m => m.CodeLivraison == ppTypeLivraison.CodeLivraison).First().Tarif)" /> <span><strong>@ppTypeLivraison.Description</strong></span>
                                                        }
                                                        <br /> <br />
                                                    }
                                                </div>
                                                @if (Double.Parse(Model.vendeur.LivraisonGratuite.ToString()) <= dblSousTotal && ppTypeLivraison.CodeLivraison == 1)
                                                {<div class="col-4 text-right"><strong>(0.00 $)</strong><br /> <br /></div> <br />

                                                }
                                                else
                                                {<div class="col-4 text-right"><strong>(@Double.Parse(lstMontantLivraison.Where(m => m.CodeLivraison == ppTypeLivraison.CodeLivraison).First().Tarif.ToString()).ToString("0.00") $)</strong><br /> <br /></div> <br />

                                            }

                                            </div>
                                        }
                                        <br />
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-4 text-left" id="verifPoids">
                                    <div class="row">
                                        @if (Model.vendeur.PoidsMaxLivraison < poidsKg)
                                        {
                                            <br /> <br />
                                            <span style="color:red">Le poids de livraison maximal est dépassé</span>
                                        }
                                    </div>
                                    <div class="row">
                                        <div class="col-9 text-left">

                                            <div class="row">
                                                Poids de la livraison :
                                            </div>

                                            <div class="row">
                                                Poids maximal :
                                            </div>
                                        </div>
                                        <div class="col-3 text-right">
                                            <div class="row text-right">
                                                @if (Model.vendeur.PoidsMaxLivraison > poidsKg)
                                                {
                                                    <span style="color:green"> @poidsKg Lbs</span>
                                                    <br />
                                                    <span>@Model.vendeur.PoidsMaxLivraison Lbs</span>
                                                }
                                                else
                                                {
                                                    <span style="color:red"> @poidsKg Lbs</span>
                                                    <br />
                                                    <span>@Model.vendeur.PoidsMaxLivraison Lbs</span>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <br />
                                        Frais de livraison et taxes en sus
                                    </div>
                                </div>
                            }
                            <div class="col-3">&nbsp;</div>
                            @if (ViewData["cbChecked"] != null && (String)ViewData["cbChecked"] != "0")
                            {
                                <div class="col-3 text-left" style="padding-right:0px">
                                    @if (lstMontantLivraison != null)
                                    {
                                        <h5>Frais de livraison</h5>
                                    }


                                    <h5>Sous-total</h5>
                                    <h5>TPS (5%)</h5>
                                    @{
                                        if (Model.vendeur.Province.ToString().Equals("QC"))
                                        {
                                            <h5> TVQ (9.975%) </h5>
                                        }
                                    }

                                    <h5>Total</h5>
                                </div>
                                <div class="col-2 text-right">
                                    @if (lstMontantLivraison != null)
                                    {
                                        <h5><strong><span id="fraisDeLivraison">@frais.ToString("0.00") $</span></strong></h5>
                                        dblPrixTotal = dblSousTotal + frais;
                                        if (Model.vendeur.Taxes == true)
                                        {
                                            totalTps = dblPrixTotal * 0.05;
                                            totalTvq = dblPrixTotal * 0.09975;
                                        }
                                    }
                                    <h5><strong>@((dblSousTotal + frais).ToString("0.00")) $</strong></h5>
                                    @{ if (totalTps == 0 && Model.vendeur.Taxes == true) { totalTps = (dblSousTotal * 0.05); } }

                                    @{
                                        <h5>
                                            <strong>
                                                @totalTps.ToString("0.00") $
                                            </strong>
                                        </h5>
                                    }
                                    @{
                                        if (Model.vendeur.Province.ToString().Equals("QC"))
                                        {
                                            if (totalTvq == 0 && Model.vendeur.Taxes == true)
                                            {
                                                totalTvq = (dblSousTotal * 0.09975);
                                            }
                                            <h5>
                                                <strong>
                                                    @totalTvq.ToString("0.00") $
                                                </strong>
                                            </h5>
                                        }
                                    }

                                    <h5>
                                        <strong>
                                            @{
                                                double totalAvecTaxes = 0;
                                                if (dblPrixTotal == 0)
                                                {

                                                    totalAvecTaxes = dblSousTotal + totalTps + totalTvq;
                                                }
                                                else
                                                {

                                                    totalAvecTaxes = dblPrixTotal + totalTps + totalTvq;
                                                }
                                            }@(totalAvecTaxes.ToString("0.00")) $
                                        </strong>
                                    </h5>
                                </div>
                            }
                            else
                            {
                                <div class="col-3 text-left" style="padding-right:0px">
                                    <h5>Sous-total</h5>
                                </div>

                                <div class="col-2 text-right">
                                    <h5>
                                        <strong>
                                            @dblSousTotal.ToString("0.00") $
                                        </strong>
                                    </h5>
                                </div>
                            }
                        </div>
                        <div class="row" style="padding:15px">

                            <div class="col-sm-6">
                            </div>
                            <div class="col-sm-6">
                                <div class="d-flex justify-content-end">
                                    @if (Model.vendeur.PoidsMaxLivraison > poidsKg)
                                    {

                                        <input id="btnPasserCommande" class="btn btn-success" type="submit" value="Passer à la prochaine étape" onclick="passerCommande()" />
                                    }
                                    else
                                    {

                                        <input id="btnPasserCommande" class="btn btn-success" title="Veuillez diminuer le poids total de la livraison" disabled type="submit" value="Passer à la prochaine étape" />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Informations de livraison -->
        @Html.Partial("~/Views/Client/InfoClientSaisieCommande.cshtml", Model.client)

        <!-- Choix de type de livraison -->
        <div class="card shopping-cart" id="infosPaiement" style="margin-top:0px">
            <div class="card-header" id="heading_paiement">
                <div class="float-left">
                    <h5 class="mb-0">
                        <button id="btnPaiement" class="btn btn-link text-s disabled" data-toggle="collapse" data-target="#collapse_zonePaiement" aria-expanded="true" aria-controls="#collapse_zoneCommande">
                            Paiement
                        </button>
                    </h5>
                </div>
            </div>
            <div id="collapse_zonePaiement" class="collapse" aria-labelledby="btnPaiement" data-parent="#infosPaiement">
                <div class="card-body align-items-center">
                    <div class="row" style="margin: 0">
                        <div class="col-md-4">&nbsp;</div>
                        <div class="col-md-4">
                            <h5>
                                <label for="numCredit">
                                    Numéro de carte de crédit
                                </label>
                            </h5>
                            <input type="text" id="NoCarteCredit" class="form-control col-md-10 text-right" maxlength="16" placeholder="################" />
                            <br />
                            <h5>
                                <label>
                                    Date d'expiration
                                </label>
                            </h5>
                            <div class="row" style="margin: 0">
                                <input type="number" id="moisExpireCredit" class="form-control col-md-4 text-right" min="1" max="12" placeholder="MM" onchange="expireMois('mois')" />
                                <div class="col-md-2">-</div>
                                20<input type="number" id="anneeExpireCredit" class="form-control col-md-4 text-right" min="@DateTime.Now.Year.ToString().Remove(0,2)" max="23" placeholder="YY" onchange="expireMois('annee')" />
                            </div>
                            <br />
                            <h5>
                                <label>
                                    Numéro de sécurité
                                </label>
                            </h5>

                            <input type="text" id="securiteCredit" class="form-control col-md-10 text-right" maxlength="4" placeholder="####" />
                        </div>
                        <div class="col-md-4">&nbsp;</div>
                    </div>
                    <br />
                    <script>

                    </script>
                    <div class="row" style="margin: 0">
                        <div class="col-md-4">&nbsp;</div>
                        <div class="col-md-4 align-items-center">
                            <span id="erreurPaiement"></span>
                        </div>
                        <div class="col-md-4">&nbsp;</div>
                    </div>
                    <div class="row" style="margin: 0">
                        <div class="col-md-4">&nbsp;</div>
                        <div class="col-md-4 align-items-center">
                            <input class="btn btn-primary" type="button" onclick="envoyerRequete()" value="Confirmer le paiement" />
                        </div>
                        <div class="col-md-4">&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnContinueMagasiner").click(function () {
                window.location.href = "/Client/Catalogue"
            });
        });

        function passerCommande() {
            $("#collapse_zoneCommande").collapse();
            $("#collapse_zoneInfos").collapse("show");
            $("#btnContinueMagasiner").attr("hidden", true);
            $("#btnInformationLivraison").removeClass("disabled");
            $("#btnCommande").addClass("disabled");
            var progres = "25";
            $("#bar").attr("aria-valuenow", progres);
            $("#bar").css("width", progres + "%");
            $("#barSpan").text(progres + "%");
        }
        function quantitechange(e) {
            if (e.which == 13) {
                e.preventDefault();
            }
        }

        function supprimerProduit(id) {

            $.ajax({
                url: "/Client/SupprimerProduitSaisieCommande",
                data: { "id": id },
                success: success,
                error: error,
            });
        }

        function expireMois(moisOuAnnee) {
            var max = parseInt($('#' + moisOuAnnee + 'ExpireCredit').attr('max'));
            var min = parseInt($('#' + moisOuAnnee + 'ExpireCredit').attr('min'));
            if ($('#' + moisOuAnnee + 'ExpireCredit').val() > max) {
                $('#' + moisOuAnnee + 'ExpireCredit').val(max);
            }
            else if ($('#' + moisOuAnnee + 'ExpireCredit').val() < min) {
                $('#' + moisOuAnnee + 'ExpireCredit').val(min);
            }
        }

        function updateCart(noPanier) {
            var max = parseInt($('#' + noPanier).attr('max'));
            var min = parseInt($('#' + noPanier).attr('min'));
            if ($('#' + noPanier).val() > max) {
                $('#' + noPanier).val(max);
            }
            else if ($('#' + noPanier).val() < min) {
                $('#' + noPanier).val(min);
            }
            var quantite = $('#' + noPanier).val();
            $.ajax({
                url: "/Client/UpdatePanierSaisieCommande",
                data: { "noPanier": noPanier, "quantite": quantite },
                success: success,
                error: error,
            });
        }


        function success(model) {
            $("#body").html(model)
        }

        function successCb(model) {
            $("#body").html(model)
            $("#btnPasserCommande").prop('value', 'Passer au paiement')
            $("#btnPasserCommande").attr('onclick', 'passerPaiement()')
            var progres = "50";
            $("#bar").attr("aria-valuenow", progres);
            $("#bar").css("width", progres + "%");
            $("#barSpan").text(progres + "%");

        }
        function successPoids(model) {
            $("#collapse_zoneCommande").collapse("show");
            $("#infoPerso").attr("hidden", true);
            $("#btnInformationLivraison").removeClass("disabled");
            $("#btnTypeLivraison").removeClass("disabled");

            $("#body").html(model)
            $("#btnPasserCommande").prop('value', 'Passer au paiement')
            $("#btnPasserCommande").attr('onclick', 'passerPaiement()')
            var progres = "50";
            $("#bar").attr("aria-valuenow", progres);
            $("#bar").css("width", progres + "%");
            $("#barSpan").text(progres + "%");


        }

        function error(error) {
            console.log('erreur : ' + error);
            location.href = '/Client/AccueilClient';
        }

        function errorPoids(error) {
            console.log('erreur : ' + error);
            //location.href = '/Client/AccueilClient';
        }

        function passerPaiement() {
            $("#collapse_zonePaiement").addClass("show");
            $("#btnCommande").addClass("disabled");
            $("#btnPaiement").removeClass("disabled");
            $(document).scrollTop($("#collapse_zonePaiement").offset().top)

            var progres = "75";
            $("#bar").attr("aria-valuenow", progres);
            $("#bar").css("width", progres + "%");
            $("#barSpan").text(progres + "%");

        }

        function successPaiement() {
            console.log("successBig");
        }

        function errorPaiement() {
            console.log("errorBig");
        }

        $(document).ready(function () {
            $("#CodePostal").mask("a9a 9a9");
            $("#Tel1").mask("(999) 999-9999");
            $("#Tel2").mask("(999) 999-9999");
            $("#NoCarteCredit").mask("9999 9999 9999 9999");
            $("#securiteCredit").mask("999?9");
        });




        $("#btnChoixDePoste").click(function () {
            if ($("#Prenom").val().trim() != "" && $("#Nom").val().trim() != "" && $("#Rue").val().trim() != "" && $("#Ville").val().trim() != "" && $("#CodePostal").val().trim() != "" && $("#Tel1").val().trim() != "") {
                @{
                    <text>
                var poids = @poidsKg.ToString().Replace(",",".");
                var panier = @Model.lstArticlePanier[0].NoPanier;
                    </text>
                    }
                $.ajax({
                    url: "/Client/RecevoirPrixLivraison",
                    data: {
                        "poids": poids, "panier": panier, "tarif": "0"
                    },
                    success: successPoids,
                    error: errorPoids,
                });
                $("#collapse_zoneInfos").collapse();
                $("#collapse_typeLivraison").collapse("show");
            }
            else {
                $("#erreur").text("Une des cases : Prenom, Nom, Rue, Ville, Code postal ou Téléphone primaire est vide");
            }
        });

        function checkBoxFraisLivraison(tarif) {
            @{
            <text>
            var poids = @poidsKg.ToString().Replace(",", ".");
            var panier = @Model.lstArticlePanier[0].NoPanier;
            </text>
            }
            $.ajax({
                url: "/Client/RecevoirPrixLivraison",
                data: { "poids": poids, "panier": panier,"tarif" : tarif},
                success: successCb,
                error: error,
            });
        }



        function envoyerRequete() {
            console.log($("#NoCarteCredit").val().replace(/\s/g, ""));
            console.log($("#securiteCredit").val().replace(/\s/g, ""));
                @{
                    if(dblPrixTotal == 0)
                    {
                        dblPrixTotal = dblSousTotal + totalTvq + totalTps + frais;
                    }
                    <text>
            var dblPrixTotal = @dblPrixTotal.ToString().Replace(",",".");
                    </text>
                }

                        var quatrePremier = $("#NoCarteCredit").val().substring(0, 4);
            if (parseInt(quatrePremier) >= 1000 && parseInt(quatrePremier) <= 5000 && $("#NoCarteCredit").val().replace(/\s/g, "").length == 16 && $("#securiteCredit").val().replace(/\s/g, "").length >= 3  && confirm("Êtes-vous certain de vouloir payer cette commande?")) {
                var mois = $("#moisExpireCredit").val();
                if (mois.length == 1) {
                    mois = "0" + mois;
                }

                var form = document.createElement("form");
                form.setAttribute("method", "post");
                form.setAttribute("action", "https://personnel.lmbrousseau.info/lesi-2019/lesi-effectue-paiement.php");

                var noVendeur = document.createElement("input");
                noVendeur.setAttribute("type", "hidden");
                noVendeur.setAttribute("name", "NoVendeur");
                noVendeur.setAttribute("value", '@Model.vendeur.NoVendeur.ToString()');
                form.appendChild(noVendeur);

                var nomAffaires = document.createElement("input");
                nomAffaires.setAttribute("type", "hidden");
                nomAffaires.setAttribute("name", "NomVendeur");
                nomAffaires.setAttribute("value", '@Model.vendeur.NomAffaires.ToString()');
                form.appendChild(nomAffaires);

                var noCarteCredit = document.createElement("input");
                noCarteCredit.setAttribute("type", "hidden");
                noCarteCredit.setAttribute("name", "NoCarteCredit");
                noCarteCredit.setAttribute("value", $("#NoCarteCredit").val());
                form.appendChild(noCarteCredit);

                var DateExpiration = document.createElement("input");
                DateExpiration.setAttribute("type", "hidden");
                DateExpiration.setAttribute("name", "DateExpirationCarteCredit");
                DateExpiration.setAttribute("value", mois + "-20" + $("#anneeExpireCredit").val());
                form.appendChild(DateExpiration);

                var NumSecurite = document.createElement("input");
                NumSecurite.setAttribute("type", "hidden");
                NumSecurite.setAttribute("name", "NoSecuriteCarteCredit");
                NumSecurite.setAttribute("value", $("#securiteCredit").val());
                form.appendChild(NumSecurite);
                var MontantPaiement = document.createElement("input");
                MontantPaiement.setAttribute("type", "hidden");
                MontantPaiement.setAttribute("name", "MontantPaiement");
                    MontantPaiement.setAttribute("value", dblPrixTotal);
                form.appendChild(MontantPaiement);

                var PageRetour = document.createElement("input");
                PageRetour.setAttribute("type", "hidden");
                PageRetour.setAttribute("name", "NomPageRetour");
                PageRetour.setAttribute("value", "424r.cgodin.qc.ca/Client/ConfirmationTransaction");
                form.appendChild(PageRetour);
                
                    document.body.appendChild(form);
                    form.submit();

                    $("#erreurPaiement").text("");

                    var progres = "100";
                    $("#bar").attr("aria-valuenow", progres);
                    $("#bar").css("width", progres + "%");
                    $("#barSpan").text(progres + "%");
                }
            else {
                $("#erreurPaiement").text("Un des champs n'est pas rempli correctement");
            }
        }


    </script>

</body>
</html>

