@model PetitesPuces.ViewModels.MessageAfficheVM
@{ 
    //PetitesPuces.Models.PPMessages message = (Model.objDestinataire as PetitesPuces.Models.PPDestinataires).PPMessages;

    string strNomExpediteur = Model.StrNomAffichageExpediteur; //A suivre ... Philippe &lsaquo;PhilousLeLoup@Netscape.com&rsaquo;
    string strDateEnvoie = Model.Message.dateEnvoi.Value.ToString("yyyy-MM-dd");

}

<nav class="navbar bg-light">
    <ul class="navbar-nav navbar-expand bd-navbar">
        <li class="nav-item">
            <a href="#" class="btn btn-link" ><i class="fas fa-plus"></i> Nouveau Message</a>
        </li>
        <li class="nav-item">
            <a href="#" class="btn btn-link" ><i class="fas fa-reply-all"></i> Répondre</a>
        </li>
        <li class="nav-item">
            <a href="#" class="btn btn-link"><i class="fa fa-trash-alt"></i> Supprimer</a>
        </li>
    </ul>
</nav>

<div class="ml-3">
    <div style="height: 30px;" class="mt-4">
        <h3>@Model.Message.objet</h3>
    </div>
    <hr />
    <div>
        <div>
            <div>
                <span><b>@Model.StrNomAffichageExpediteur</b></span><br />
                <small>@strDateEnvoie</small><br />
                <small><b> À : </b>@Model.StrNomAffichageDestinataire</small>
            </div>
            <hr />
            @if (Model.Message.FichierJoint != null)
            {
            <div>
                <span><b>Fichier joint: </b>  @Model.Message.FichierJoint.ToString()  </span>&nbsp;&nbsp;
                <a href="~/Uploads/@Model.Message.FichierJoint" target="_blank" class="btn btn-outline-primary">T&eacute;l&eacute;charger</a>
            </div>
                <hr />
            }
        </div>
        <br />
        <div class="pl-4 ">
            <p>
                @Model.Message.DescMsg
            </p>
        </div>
    </div>
</div>
