@model (PetitesPuces.Models.PPDestinataires objDestinataire, string affDestinataire, string affExpediteur)
@{ 
    PetitesPuces.Models.PPMessages message = (Model.objDestinataire as PetitesPuces.Models.PPDestinataires).PPMessages;

    string strNomExpediteur = Model.Item2; //A suivre ... Philippe &lsaquo;PhilousLeLoup@Netscape.com&rsaquo;
    string strDateEnvoie = message.dateEnvoi.Value.ToString("dd MMMM yyyy");

}

<nav class="navbar bg-light">
    <ul class="navbar-nav navbar-expand bd-navbar">
        <li class="nav-item">
            <a href="#" class="btn btn-link" ><i class="fas fa-plus"></i> Nouveau Message</a>
        </li>
        <li class="nav-item">
            <a href="#" class="btn btn-link" ><i class="fas fa-reply-all"></i> Répondre</a>
        </li>
        <li class="nav-item">
            <a href="#" class="btn btn-link"><i class="fa fa-trash-alt"></i> Supprimer</a>
        </li>
    </ul>
</nav>


<div>
    <div style="height: 30px;">
        <h6>@message.objet</h6>
    </div>
    <div>
        <div>
            <div>
                <span>@Model.affExpediteur</span><br />
                <span>@strDateEnvoie</span><br />
                <small>@Model.affDestinataire</small>
            </div>
            @if (message.FichierJoint != null)
            {
                <br />
                <div>
                    <span>@message.FichierJoint.ToString()</span>
                    @Html.ActionLink("Télécharger", "TelechargeFichierJoin", new { nom = message.FichierJoint}, new { @class = "btn btn-outline-primary"})
                </div>
            }
        </div>
        <br />
        <div>
            <p>
                @message.DescMsg
            </p>
        </div>


    </div>
</div>
