@model (PetitesPuces.Models.PPDestinataires objDestinataire, string affDestinataire, string affExpediteur)
@{ 
    PetitesPuces.Models.PPMessages message = (Model.objDestinataire as PetitesPuces.Models.PPDestinataires).PPMessages;

    string strNomExpediteur = Model.Item2; //A suivre ... Philippe &lsaquo;PhilousLeLoup@Netscape.com&rsaquo;
    string strDateEnvoie = message.dateEnvoi.Value.ToString("dd MMMM yyyy");

}

<div>
    <div style="height: 30px;">
        <h6>@message.objet</h6>
    </div>
    <div>
        <div>
            <div>
                <span>@Model.affExpediteur</span><br />
                <span>@strDateEnvoie</span><br />
                <small>@Model.affDestinataire</small>
            </div>
            @if (message.FichierJoint != null)
            {
                <br />
                <div>
                    <span>@message.FichierJoint.ToString()</span>
                    <button type="button" class="btn btn-primary">Télécharger</button>
                </div>
            }
        </div>
        <br />
        <div>
            <p>
                @message.DescMsg
            </p>
        </div>


    </div>
</div>
