@model PetitesPuces.ViewModels.CourrielVM
@{
    Layout = null;

    const string strBoiteReception = "Reception";
    const string strAffichageMessage = "AffichageMessage";
    const string strBoiteSupprime = "SupprimePartiel";
    const string strSupprimeDefinitivement = "SupprimeTotal";
    const string strBrouillon = "Brouillon";
    const string strNouveauMessage = "NouveauMessage";
    const string strEnvoye = "Envoyer";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Courriel</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/css/styleGeneral.css" />
    <link rel="stylesheet" href="~/Content/css/Catalogue.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <script type="text/javascript">

        function test() {
            console.log("parfait");
            var tabCb = [];
            document.querySelectorAll('input[type=checkbox]:checked').forEach(list => {
                tabCb.push(list.id);
            })

            return tabCb;
        }

    </script>
    <style>
        .sActionMessageListe > button {
            display: none;
        }

        .sMessListe:hover .sActionMessageListe > button {
            display: inline-block;
        }

        .sMessListe:hover {
            background-color: lightgrey;
        }

        .aucun-Select {
            display: inline-block;
        }

        .un-Select {
            display: none;
        }

        .unOuPlus-Select {
            display: none;
        }

    </style>
</head>
<body>
    <header class="navbar bd-navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">Petites Puces</a>
    </header>
    <div class="container-fluid">
        <div class="row flex-xl-nowrap">
            <div class="col-12 col-md-3 col-xl-2 bd-sidebar bg-light">
                <nav class="sidebar">
                    <ul class="nav nav-pills flex-column ">
                        @foreach (var lieux in Model.lstLieu)
                        {
                            var affichage = "";
                            string strStyleFocus = "";

                            if (lieux.NoLieu == 1)
                            {
                                affichage = strBoiteReception;

                                if (Model.strPage == strBoiteReception)
                                {
                                    strStyleFocus = "background-color: lavender;";
                                }
                            }
                            else if (lieux.NoLieu == 2)
                            {
                                affichage = strEnvoye;

                                if (Model.strPage == strEnvoye)
                                {
                                    strStyleFocus = "background-color: lavender;";
                                }
                            }
                            else if (lieux.NoLieu == 3)
                            {
                                affichage = strBoiteSupprime;

                                if (Model.strPage == strBoiteSupprime)
                                {
                                    strStyleFocus = "background-color: lavender;";
                                }
                            }
                            else if (lieux.NoLieu == 4)
                            {
                                affichage = strBrouillon;

                                if (Model.strPage == strBrouillon)
                                {
                                    strStyleFocus = "background-color: lavender;";
                                }
                            }
                            else if (lieux.NoLieu == 5)
                            {
                                affichage = strSupprimeDefinitivement;

                                if (Model.strPage == strSupprimeDefinitivement)
                                {
                                    strStyleFocus = "background-color: lavender;";
                                }
                            }

                            <li class="nav-item pt-2 pb-2" style="@strStyleFocus">
                                <a href="@Url.Action("Index/" + affichage)">
                                    @if (lieux.NoLieu == 1)
                                    {
                                        <i class="fa fa-inbox"></i>
                                    }
                                    else if (lieux.NoLieu == 2)
                                    {
                                        <i class="fa fa-paper-plane"></i>
                                    }
                                    else if (lieux.NoLieu == 3)
                                    {
                                        <i class="fa fa-trash-alt"></i>
                                    }
                                    else if (lieux.NoLieu == 4)
                                    {
                                        <i class="fa fa-pencil-alt"></i>
                                    }
                                    else if (lieux.NoLieu == 5)
                                    {
                                        <i class="fa fa-trash-alt"></i>
                                    }
                                    @lieux.Description
                                </a>
                                @if (Model.dicNotificationLieu.Keys.Contains(lieux.NoLieu) && Model.dicNotificationLieu[lieux.NoLieu] != 0)
                                {
                                    <span class="badge badge-primary">@Model.dicNotificationLieu[lieux.NoLieu]</span>
                                }
                            </li>
                        }
                    </ul>
                </nav>
            </div>

            <main class="col-12 col-md-9 col-xl-10" id="divCorps">
                @{
                    ViewBag.LaPage = Model.strPage;

                    if (Model.strPage == strNouveauMessage)
                    {
                        @Html.Partial("RedactionMessage", Model)
                    }
                    else if (Model.strPage == strAffichageMessage)
                    {
                        @Html.Partial("AffichageMessage", Model.AfficheMessage)
                    }
                    else
                    {
                        @Html.Partial("ListeCourriel", Model.iplListeMessageAffiche)
                    }
                }
            </main>
        </div>
    </div>
    <script type="text/javascript">
        $.gestionTri = function (leBouton) {
            var leTri = leBouton.value;
            $.ajax({
                url: '@Url.Action("AppliqueTri", "Courriel")',
                type: "POST",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ "strTri": leTri, "laPage": '@Model.strPage' }),
                success: function (elementRetour,status, xhr) {
                    $('#divCorps').html(elementRetour);

                    var leNouveauTri = leTri.substr(0, 1) == '!' ? leTri.substr(1) : "!" + leTri;

                    $('#' + leBouton.id).val(leNouveauTri);

                    $('#triActuel').val(leNouveauTri);
                },
                failure: function (response) {
                    console.log("la requete du tri a échoué!");
                },
                error: function (response) {
                    console.log("Une erreur dans la requete du tri!");
                }
            });
        }
        
        $.SupprimeDepuisMessage = function (leBouton) {
            $.ajax({
                url: '@Url.Action("SupprimeMessageDepuisMessage", "Courriel")',
                type: "POST",
                contentType: "application/json;",
                data: JSON.stringify({ "strElementSupprime": leBouton }),
                success: function(elementRetour, status, xhr) {

                },
                failure: function (reponse) {
                    console.log("La requete de supression a échoué!");
                },
                error: function (response) {
                    console.log("Une erreur dans la requete de supression");
                }
            });
        }
    </script>
</body>
</html>