@model PagedList.IPagedList<Tuple<PetitesPuces.Models.PPDestinataires, String>>
@using PagedList.Mvc;

<script type="text/javascript">
    function marqueLu() {
        var tabCb = new Array();
        document.querySelectorAll('input[type=checkbox]:checked').forEach(list => {
            tabCb.push(list.id);
        })

        document.getElementById('ElementSelectionner').value = tabCb;
    }

    function uneTache(element) {
        var strElement = element.value;

        var tabChampsModification = strElement.split("_");

        var action = tabChampsModification[0];
        var sujet = tabChampsModification[1];

        document.getElementById("ElementSelectionner").value = sujet;
        document.getElementById("uneAction").value = action;

        document.getElementsByTagName("form")[0].submit();
    }

</script>
@using (Html.BeginForm())
{
<div>
    @Html.Hidden("ElementSelectionner")
    @Html.Hidden("uneAction")
    <ul class="nav navbar bd-navbar mr-auto">
        <li class="nav-item">
            <a href="@Url.Action("Index/NouveauMessage")" class="nav-link">Nouveau Message +</a>
        </li>
        <li class="nav-item">
            <button type="submit" class="btn btn-link"><span class="far fa-envelope-open"></span> Marquer tous comme lu</button>
        </li>
        <li class="nav-item">
            <a href="#">Répondre</a>
        </li>
        <li class="nav-item">
            <a href="#">Supprimer</a>
        </li>
        <li class="nav-item">
            <a href="#">Vider le dossier</a>
        </li>
        <li class="nav-item">
            <a href="#">Restaurer</a>
        </li>
    </ul>
</div>

<div class="d-flex flex-column">

    @foreach (var tup in Model)
    {
        PetitesPuces.Models.PPDestinataires destinataires = tup.Item1;
        PetitesPuces.Models.PPMessages message = destinataires.PPMessages;

        string strMessDebut = new string(message.DescMsg.Take(50).ToArray());
        string strDateEnvioFormat = message.dateEnvoi.Value.ToString("dd MMMM yyyy");

        string strActionAffichage = Url.Action("Index/AffichageMessage", new { @message = message.NoMsg });

        string strMessageEtat = destinataires.EtatLu == 0 ? "font-weight: bold;" : "";

        <div class="row p-2 sMessListe" style="cursor:pointer;@strMessageEtat">
            <div class="col-1">
                @Html.CheckBox("cb" + message.NoMsg, false, new { onchange = "marqueLu();" })
            </div>
            <div class="col-3" onclick="location.href='@strActionAffichage'">
                @Html.DisplayFor(x => tup.Item2)
            </div>

            <div class="col-1 sActionMessageListe">
                @{
                    var nom = "supp_" + message.NoMsg;
                }
                <button type="button" title="Supprimer" onclick="uneTache(this)"><span class="fa fa-trash-alt"></span></button>
                @if (destinataires.EtatLu == 0)
                 {
                    nom = "lu_" + message.NoMsg;
                    <button type="button" title="Marquer comme lu" value="@nom" onclick="uneTache(this)"><span class="far fa-envelope-open"></span></button>
                }
                else
                {
                    nom = "nonlu_" + message.NoMsg;
                    <button type="button" title="Marquer comme non lu" value="@nom" onclick="uneTache(this)" ><span class="far fa-envelope"></span></button>
                }
            </div>
            <div class="col-1" onclick="location.href='@strActionAffichage'">
                @if (message.FichierJoint != null)
                {
                    <span class="fas fa-paperclip"></span>
                }
            </div>
            <div class="col-4" onclick="location.href='@strActionAffichage'">
                @Html.DisplayFor(x => strMessDebut)
            </div>
            <div class="col-2" onclick="location.href='@strActionAffichage'">
                @Html.DisplayFor(x => strDateEnvioFormat)
            </div>
        </div>


    }
</div>
}


@Html.PagedListPager(Model, page => Url.Action("Index/Reception", new { @page = 1 }))
