@using PetitesPuces.Models
@model PPVendeurs
@{
   Layout = null;
}

<!DOCTYPE html>
@{ 
   bool booAccepter;
}
<html>
<head>
   <meta name="viewport" content="width=device-width" />
   <title>Petites Puces</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
   <link rel="stylesheet" href="~/Content/css/styleGeneral.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

   <script type="text/javascript">
      function accepter(id) {
         console.log($('#saisie_courriel').css("visibility") == "hidden");
         if ($('#saisie_courriel').css("visibility") == "hidden") {
            var objSaisieMessage = document.getElementById('saisie_courriel');
            objSaisieMessage.style.visibility = "visible";
            var message = 'Bonjour M. @Model.Nom, j\'ai l\'honneur de vous annoncer que votre demande de vendeur a été acceptée.';
            $('#form_message').text(message);
            $('#btn_accepter').prop("disabled", true);
            $('#btn_refuser').prop("disabled", true);
            $('#redevance').prop("disabled", true);
            var redevance = $('#redevance').val();
            redevance = redevance.replace(",", ".");
            redevance = parseFloat(redevance);

            $.ajax({
               url: "/Gestionnaire/AccepterVendeur",
               data: { "id": id, "redevance": redevance },
               success: success,
               error: error,
            });
         }
      }
      function refuser(id) {
         if ($('#saisie_courriel').css("visibility") == "hidden"){
            var objSaisieMessage = document.getElementById('saisie_courriel');
            objSaisieMessage.style.visibility = "visible";

            var strMessageAuto = 'Bonjour M. @Model.Nom, je suis désolé de vous annoncer que votre demande a été refusée.';
            $('#form_message').text(strMessageAuto);
            $('#btn_accepter').prop("disabled", true);
            $('#btn_refuser').prop("disabled", true);

            var redevance = $('#redevance').val();
            redevance = redevance.replace(",", ".");
            redevance = parseFloat(redevance);


            $.ajax({
               url: "/Gestionnaire/RefuserVendeur",
               data: { "id": id, "redevance": redevance },
               success: success,
               error: error,
            });
         }
      }
      //Cette fonction à l'aide d'une requête AJAX annule les modfications de la gestion des demadnes du vendeur
      function annuler(id) {
         $.ajax({
            url: "/Gestionnaire/CancellerAjout",
            data: { "id": id },
            success: success,
            error: error,
         });
         $('#redevance').prop("disabled", false);
      }
      function confirmer(noExpediteur, noDestinataire){
         //Aller chercher le message
         var message = $('#form_message').val();
         console.log('message: ' + message);
         if (message.trim() != '') {
            $.ajax({
               url: "/Gestionnaire/EnvoyerMessageDemandeVendeur",
               data: { "noDestinataire": noDestinataire, "noExpediteur": noExpediteur, "message": message },
               success: retourAccueil,
               error: error,
            });
         }
         else {
            console.log('écrit un message pour l\'envoyer');
         }
      }

      function success() {
         console.log('réussi');
      }
      function retourAccueil(){
         console.log('skurrrrrr');
         location.href = "/Gestionnaire/AccueilGestionnaire";
      }
      function error() {
         console.log('erreur')
      }
   </script>
</head>
<body>
   @Html.Partial("index")
   <div class="container">
      <br />
      <div class="card">
         <div class="card-header">
            <h3 style="text-align:center;">@Model.NomAffaires</h3>
         </div>
         <div class="card-body">
            <ul class="list-group list-group-flush">
               <li class="list-group-item">
                  <div class="row">
                     <div class="col-sm-6">
                        <div class="d-flex justify-content-start">
                           <h4>Nom Complet: </h4>
                        </div>
                     </div>
                     <div class="col-sm-6">
                        <div class="d-flex justify-content-end">
                           <h4>@Model.Prenom @Model.Nom</h4>
                        </div>
                     </div>
                  </div>
               </li>
               <li class="list-group-item">
                  <div class="row">
                     <div class="col-sm-6">
                        <div class="d-flex justify-content-start">
                           <h4>Adresse: </h4>
                        </div>
                     </div>
                     <div class="col-sm-6">
                        <div class="d-flex justify-content-end">
                           <h4>@Model.Rue @Model.Ville @Model.Province @Model.CodePostal</h4>
                        </div>
                     </div>
                  </div>
               </li>
               <li class="list-group-item">
                  <div class="row">
                     <div class="col-sm-6">
                        <div class="d-flex justify-content-start">
                           <h4>Pays: </h4>
                        </div>
                     </div>
                     <div class="col-sm-6">
                        <div class="d-flex justify-content-end">
                           <h4>@Model.Pays</h4>
                        </div>
                     </div>
                  </div>
               </li>

               <li class="list-group-item">
                  <div class="row">
                     <div class="col-sm-6">
                        <div class="d-flex justify-content-start">
                           <h4>Adresse Courriel: </h4>
                        </div>
                     </div>
                     <div class="col-sm-6">
                        <div class="d-flex justify-content-end">
                           <h4>@Model.AdresseEmail</h4>
                        </div>
                     </div>
                  </div>
               </li>

               <li class="list-group-item">
                  <div class="row">
                     <div class="col-sm-6">
                        <div class="d-flex justify-content-start">
                           <h4>Téléphone 1: </h4>
                        </div>
                     </div>
                     <div class="col-sm-6">
                        <div class="d-flex justify-content-end">
                           <h4>@Model.Tel1</h4>
                        </div>
                     </div>
                  </div>
               </li>

               <li class="list-group-item">
                  <div class="row">
                     <div class="col-sm-6">
                        <div class="d-flex justify-content-start">
                           <h4>Poids Maximum pour livrer:</h4>
                        </div>
                     </div>
                     <div class="col-sm-6">
                        <div class="d-flex justify-content-end">
                           <h4>@Model.PoidsMaxLivraison (lbs)</h4>
                        </div>
                     </div>
                  </div>
               </li>
               @{
                  double dblLivraisonGratuite = (double)Model.LivraisonGratuite;
               }
               <li class="list-group-item">
                  <div class="row">
                     <div class="col-sm-6">
                        <div class="d-flex justify-content-start">
                           <h4>Montant pour la livraison gratuite:</h4>
                        </div>
                     </div>
                     <div class="col-sm-6">
                        <div class="d-flex justify-content-end">
                           <h4>@dblLivraisonGratuite.ToString("0.00") $</h4>
                        </div>
                     </div>
                  </div>
               </li>
            </ul>
         </div>
         <div class="card-footer">
            <div class="row">
               <div class="col-sm-4">
                  <h4>% de redevances:</h4>
               </div>
               <div class="col-sm-4">
                  <input id="redevance" type="number" min="0" max="100" step="0.25"> %
               </div>
               <div class="col-sm-4">
                  <div class="row">
                     <div class="col-sm-6">
                        <div class="d-flex justify-content-start">
                           <button id="btn_accepter" class="btn btn-success" style="width:100%;" onclick="accepter(@Model.NoVendeur); @{booAccepter = true;}">Accepter</button>
                           @*Html.ActionLink("Accepter", "AccepterVendeur", "Gestionnaire", new { id = Model.NoVendeur }, new { @class = "btn btn-success", @style = "width:100%;" })*@
                        </div>
                     </div>
                     <div class="col-sm-6">
                        <div class="d-flex justify-content-end">
                           <button id="btn_refuser" class="btn btn-danger" style="width:100%" onclick="refuser(@Model.NoVendeur); @{booAccepter = false;}">Refuser</button>
                           @*Html.ActionLink("Refuser", "RefuserVendeur", "Gestionnaire", new { id = Model.NoVendeur }, new { @class = "btn btn-danger", @style = "width:100%" })*@
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      @{
         MessageViewModel message = new MessageViewModel((int)((PPGestionnaire)Session["gestionnaireObj"]).NoGestionnaire, (int)Model.NoVendeur, Model.Prenom + " " + Model.Nom, "admin", "Bienvenue dans le système ... à générer");
      }

      <div id="saisie_courriel" style="visibility:hidden">

         <br />
         <h4>Saisie du message de confirmation</h4>
         @Html.Partial("Courriel/Message", message);
      </div>
      
      
   </div>
</body>
</html>
