@model PetitesPuces.Models.InactiviteViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#btnConfirmer").click(function () {
            confirm("Voulez-vous vraiment supprimer ou inactiver ces client(s)/vendeur(s)?")
        })
        $('#cbClientAll').click(function () {

            var arrCbClient = document.getElementsByName("cbClientNom")
            for (var i = 0; i < arrCbClient.length; i++) {
                arrCbClient[i].checked = ($('#cbClientAll').prop('checked'));
            }
        })
    });
</script>
<html>
<head>
    <meta charset="utf-8" />
    <title>Gestion de l'inactivité</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

</head>

<body>


    <div id="navigation">
        @RenderPage("~/Views/Gestionnaire/index.cshtml")
    </div>

    @using (Html.BeginForm("GestionInactivite", "Gestionnaire", FormMethod.Post))
    {

        @Html.HiddenFor(vide1 => vide1.clients)
        @Html.HiddenFor(vide1 => vide1.vendeurs)
        <div class="container">
            <div id="infoPage" style="padding-left:10px;padding-right:10px">
                <h1 style="text-align:center"><u>Gestion de l'inactivité</u></h1>
                <div id="divClient">
                    <h2 style="text-align:left;display:inline"><u>Client(s)</u></h2>
                    <br />
                    <select id="ddlClient" style="display:inline;float:right">
                        <option selected>Tous</option>
                        <option>1 mois</option>
                        <option>3 mois</option>
                        <option>6 mois</option>
                        <option>1 an</option>
                        <option>2 ans</option>
                        <option>3 ans</option>
                        <option>Début du site Web</option>
                    </select>

                    <br />
                    <div id="tableauClient">
                        <table class="table table-bordered">
                            <tr>
                                <th style="width: 5%;text-align:right">#</th>
                                <th style="width: 30%">Nom</th>
                                <th style="width: 30%">Prénom</th>
                                <th style="width: 30%;text-align:right">Dernière présence</th>
                                <th style="width: 5%" class="text-center"><input type="checkbox" id="cbClientAll" onclick="" /></th>
                            </tr>

                            @{
                                for (int i = 0; i < @Model.cbClients.Count; i++)
                                {
                            <tr>
                                <th style="text-align:right">@(i + 1)</th>
                                <td>@Model.clients[i].Nom</td>
                                <td>@Model.clients[i].Prenom</td>
                                <td style="text-align:right">@Model.clients[i].Nom</td>
                                <td class="text-center">
                                    @Html.HiddenFor(x => Model.cbClients[i].ID)
                                    @Html.CheckBoxFor(x => Model.cbClients[i].IsSelected, new { Name = "cbClientNom" })
                                    @Html.HiddenFor(x => Model.cbClients[i].idClient)
                                </td>

                            </tr>
                                }
                            }

                        </table>
                    </div>
                </div>
                <div id="divVendeur">
                    <h2 style="text-align:left;display:inline"><u>Vendeur(s)</u></h2>
                    <br />
                    <select id="ddlVendeur" style="display:inline; float:right">
                        <option selected>Tous</option>
                        <option>1 an</option>
                        <option>2 ans</option>
                        <option>3 ans</option>
                        <option>Début du site Web</option>
                    </select>
                    <br />
                    <div id="tableauVendeur">
                        <table class="table table-bordered">
                            <tr>
                                <th style="width: 5%;text-align:right">#</th>
                                <th style="width: 30%">Nom</th>
                                <th style="width: 30%">Prénom</th>
                                <th style="width: 30%;text-align:right">Dernière activité</th>
                                <th style="width: 5%" class="text-center">Détruire</th>
                            </tr>


                            @{
                                for (int i = 0; i < @Model.cbVendeurs.Count; i++)
                                {
                                    <tr>
                                        <th style="text-align:right">@(i + 1)</th>
                                        <td>@Model.vendeurs[i].Nom</td>
                                        <td>@Model.vendeurs[i].Prenom</td>
                                        <td style="text-align:right">@Model.vendeurs[i].Nom</td>
                                        <td class="text-center">
                                            @Html.HiddenFor(x => Model.cbVendeurs[i].ID)
                                            @Html.CheckBoxFor(x => Model.cbVendeurs[i].IsSelected)
                                            @Html.HiddenFor(x => Model.cbVendeurs[i].idClient)
                                        </td>
                                    </tr>
                                }
                            }
                        </table>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div id="divConfirmation" style="text-align:center">
                <input id="btnConfirmer" type="submit" value="Confirmer" class="btn btn-primary" />
            </div>
        </div>
    }
</body>
</html>
