@using PetitesPuces.Models
@model StatistiquesViewModel


<!DOCTYPE html>

<html>
<head>
   <meta name="viewport" content="width=device-width" />
   <title>TestStatistiques</title>

   <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

   <!-- jQuery library -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

   <!-- Popper JS -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>

   <!-- Latest compiled JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>


   <!-- Font Awesome (Icons) -->
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

   <link href="~/Content/css/morris.css" rel="stylesheet" />


   <script src="~/Content/scripts/raphael.js"></script>
   <script src="~/Content/scripts/morris.js"></script>

   <script type="text/javascript">
      function nbClientAfficher() {
         var myselect = document.getElementById("ddlNbClients");
         alert(myselect.options[myselect.selectedIndex].value);
         //TODO: Requête ajax qui va permettre de refaire le tableau des dernières connexion en fonction du nombre d'item.
      }
   </script>

</head>
<body>
   @Html.Partial("index")
   <div class="container text-center">
      <div class="header m-5">
         <h2> Statistiques et rapports</h2>
      </div>


      <div class="row m-5">

         <!-- Total utilisateurs -->
         <div class="box box-danger col-md-6">
            <div class="box-body chart-responsive">
               <div class="chart" id="total-chart" style="height: 300px; position: relative;"></div>
               <h3>Comptes totaux</h3>
            </div>
         </div>
         <!-- END CHART -->
         <!-- Clients categorie-->
         <div class="box box-danger col-md-6">
            <div class="box-body chart-responsive">
               <div class="chart" id="clients-chart" style="height: 300px; position: relative;"></div>
               <h3>Clients totaux</h3>
            </div>
         </div>
         <!-- END CHART -->

      </div>

      <hr class="m-5" />

      <div class="text-center p-3">
         <h3>Nombre de nouveaux comptes</h3>
      </div>
      <div class="row">
         <div class="col-md-2"></div>

         <!-- BAR CHART -->
         <div class="box box-success col-md-8">
            <div class="box-body chart-responsive">
               <div class="chart" id="nbNouveaux-chart" style="height: 300px;"></div>
            </div>
         </div>
         <!-- BAR END -->

         <div class="col-md-2"></div>
      </div>

      <hr class="m-5" />

      <div class="text-center p-3">
         <h3>Nombre de connexions en tant que client: <span style="color:rgb(0, 123, 255);">@Model.nbConnexionsClient</span></h3>
      </div>
      <div class="row">
         <div class="col-md-2"></div>

         <!-- BAR CHART Connexions -->
         <!-- BAR END -->

         <div class="col-md-2"></div>
      </div>

      <hr class="m-5" />

      <!--Section nombres de visites d'un vendeur-->
      <hr class="m-5" />

      <div class="text-center p-3">
         <h3>Nombre de connexions en tant que client: <span style="color:rgb(0, 123, 255);">@Model.nbConnexionsClient</span></h3>
      </div>
      <div class="row">
         <div class="col-md-2"></div>

         <!-- BAR CHART Connexions -->
         <!-- BAR END -->

         <div class="col-md-2"></div>
      </div>

      <hr class="m-5" />

      <!-- Section vendeur -->

      <div class="text-center p-3">
         <h3>Statistique d'un vendeur spécifique</h3>
      </div>

      <label for="tbRechercheVendeur">Nom du vendeur : </label>
      <select id="ddlVendeurs">
         @foreach (var vend in Model.lstVendeurs)
         {
            <option value="@vend.NoVendeur">@vend.NomAffaires</option>
         }
      </select>


      <div class="row">
         <!-- Clients d'un vendeur categorie-->
         <div class="box box-danger col-md-12 my-auto">
            <div class="box-body chart-responsive">
               <div class="chart" id="clientsVendeur-chart" style="height: 300px; position: relative;"></div>
               <h5>Clients de ce vendeur</h5>
            </div>
         </div>
         <!-- END CHART -->
      </div>

      <div class="text-center p-3 m-3">
         <h3>Liste des clients d'un vendeur</h3>
      </div>

      <table class="table">
         <tr class="row">
            <th class="col">Numéro client</th>
            <th class="col">Nom et prénom</th>
            <th class="col">Total commande</th>
            <th class="col">Nb de connexions</th>
            <th class="col">Date dernière commande</th>
            <th class="col">Numéro vendeur</th>
            <th class="col">Nb de connexions</th>
         </tr>
         <tr class="row">
            <td class="col">10002</td>
            <td class="col">Utilisateur Test</td>
            <td class="col">1230$</td>
            <td class="col">122</td>
            <td class="col">2018-01-13</td>
            <td class="col">11</td>
            <td class="col">235</td>
         </tr>
         <tr class="row">
            <td class="col">10002</td>
            <td class="col">Utilisateur Test</td>
            <td class="col">1230$</td>
            <td class="col">122</td>
            <td class="col">2018-01-13</td>
            <td class="col">11</td>
            <td class="col">235</td>
         </tr>
         <tr class="row">
            <td class="col">10002</td>
            <td class="col">Utilisateur Test</td>
            <td class="col">1230$</td>
            <td class="col">122</td>
            <td class="col">2018-01-13</td>
            <td class="col">11</td>
            <td class="col">235</td>
         </tr>
         <tr class="row">
            <td class="col">10002</td>
            <td class="col">Utilisateur Test</td>
            <td class="col">1230$</td>
            <td class="col">122</td>
            <td class="col">2018-01-13</td>
            <td class="col">11</td>
            <td class="col">235</td>
         </tr>
      </table>



      <hr class="m-5" />

      <div class="text-center p-3 m-3">
         <h3>Liste des dernières connexions clients</h3>
         <div class="">
            <span class="float-right">
               Nb de clients à afficher :&nbsp;
               <select id="ddlNbClients" onchange="nbClientAfficher();">
                  <option value="10">10</option>
                  <option value="20">20</option>
                  <option value="30">30</option>
               </select>
            </span>
            
         </div>
      </div>

      <table class="table">
         <tr class="row">
            <th class="col">Date</th>
            <th class="col">Numéro Client</th>
            <th class="col">Nom et prénom</th>
            <th class="col">Nb de connexions</th>
         </tr>
         @foreach (var cli in Model.lstDereniereConnexion)
         {
            DateTime date = (DateTime)cli.DateDerniereConnexion;

            <tr class="row">
               <td class="col">@date.ToString("yyyy-MM-dd")</td>
               <td class="col">@cli.NoClient</td>
               <td class="col">@cli.Prenom @cli.Nom</td>
               <td class="col">@cli.NbConnexions</td>
            </tr>
         }

      </table>

   </div>
   <div class="m-5"></div>
</body>

<script>


   $(function () {
      "use strict";

      //Total utilisateurs CHART
      var donutTotal = new Morris.Donut({
         element: 'total-chart',
         resize: true,
         colors: ["#17a2b8", "#007bff"],
         data: [
            { label: "Vendeurs actifs", value: @Model.nbVendeurAccepte },
            { label: "Vendeurs inactifs", value: @Model.nbVendeurRefuse }
         ],
         hideHover: 'auto'
      });

      //Clients CHART
      var donutClients = new Morris.Donut({
         element: 'clients-chart',
         resize: true,
         colors: ["#17a2b8", "#007bff", "#6c757d"],
         data: [
            { label: "Clients actifs", value: @Model.nbClientActif },
            { label: "Clients potentiel", value: @Model.nbClientPotentiel },
            { label: "Clients visiteurs", value: @Model.nbClientVisiteurs }
         ],
         hideHover: 'auto'
      });

      //BAR CHART
      var bar = new Morris.Bar({
         element: 'nbNouveaux-chart',
         resize: true,
         data: [
            { y: '1 mois', a: @Model.nbVendeurUnMois, b: @Model.nbClientsUnMois },
            { y: '3 mois', a: @Model.nbVendeurTroisMois, b: @Model.nbClientsTroisMois },
            { y: '6 mois', a: @Model.nbVendeurSixMois, b: @Model.nbClientsSixMois },
            { y: '9 mois', a: @Model.nbVendeurNeufMois, b: @Model.nbClientsNeufMois },
            { y: '12 mois', a: @Model.nbVendeurDouzeMois, b: @Model.nbClientsDouzeMois }
         ],
         barColors: ['#17a2b8', '#007bff'],
         xkey: 'y',
         ykeys: ['a', 'b'],
         labels: ['Vendeurs', 'Clients'],
         hideHover: 'auto'
      });

      /*
      //BAR CHART Connexion
      var bar2 = new Morris.Bar({
         element: 'nbConnexions-chart',
         resize: true,
         data: [
            { y: '1 mois', a: 745 },
            { y: '3 mois', a: 2583 },
            { y: '6 mois', a: 5465 },
            { y: '9 mois', a: 8342 },
            { y: '12 mois', a: 10284 },
            { y: 'Total', a: 13928 }
         ],
         barColors: ['#17a2b8'],
         xkey: 'y',
         ykeys: ['a'],
         labels: ['Nombre de connexions des clients'],
         hideHover: 'auto'
      });*/


      //Section vendeur

      //Clients CHART
      var donutClients = new Morris.Donut({
         element: 'clientsVendeur-chart',
         resize: true,
         colors: ["#17a2b8", "#007bff", "#6c757d"],
         data: [
            { label: "Clients actifs", value: 6743 },
            { label: "Clients potentiel", value: 2431 },
            { label: "Clients visiteurs", value: 10232 }
         ],
         hideHover: 'auto'
      });


   })

</script>
</html>
